@font-face {
  font-family: 'Fira Code';
  src: url(/fonts/FiraCode-VariableFont.ttf) format('truetype');
}

/* TODO check if contain strict also makes sense for html and body */

html,
body {
  height: 100%;
  contain: strict;
}

body {
  font-family:
    system-ui,
    Ubuntu,
    Droid Sans,
    sans-serif;
  user-select: none;
  color: var(--WorkbenchForeground);
}
