.Actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  contain: content;
}

.SelectWrapper {
  contain: content;
}

.Select {
  appearance: none;
  background: transparent;
  contain: content;
}
