.Actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  contain: content;
}

.SelectWrapper {
  contain: content;
  position: relative;
  height: 21px;
}

.Select {
  appearance: none;
  background: transparent;
  contain: content;
  color: inherit;
  padding: 2px 23px 2px 8px;
  background: var(--DropDownBackground, #3c3c3c);
  color: var(--DropDownForeground, #f0f0f0);
  border: var(--DropDownBorder);
  height: 100%;
}

.SelectIcon {
  position: absolute;
  inset: 0 6px 0 auto;
  background: currentColor;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: var(--MaskIconSize);
  -webkit-mask-size: var(--MaskIconSize);
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-image: url(/icons/chevron-down.svg);
  -webkit-mask-image: url(/icons/chevron-down.svg);
  pointer-events: none;
  width: 16px;
  height: 16px;
  contain: strict;
  margin: auto 0;
}
