.ActivityBarItem {
  position: relative;
  outline: none;
  width: 48px;
  height: 48px;
  contain: strict;
  flex-shrink: 0;
  --MaskIconSize: 24px;
  mask-repeat: no-repeat;
  mask-size: var(--MaskIconSize);
  mask-position: 50% 50%;
  background: currentColor;
  cursor: pointer;
}

.ActivityBarItem:hover {
  /* background: #878f8c; */
}

.ActivityBarItemSelected,
.ActivityBarItem:hover {
  color: var(--ActivityBarActiveForeground);
}

.ActivityBarItemSelected {
  background: var(--ActivityBarActiveBackground);
}

.ActivityBarItemNested {
  background: var(--ActivityBarBackground);
}

.ActivityBarItem:focus-visible {
  /* background: var(--ActivityBarActiveBackground); */
  color: var(--ActivityBarActiveForeground);
}

.ActivityBarItemBadge {
  background: var(--BadgeBackground);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: var(--BadgeForeground);
  font-size: 9px;
  font-weight: 600;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.MarginTopAuto {
  margin-top: auto;
}

.ActivityBarBadgeIcon {
  contain: content;
}

.BadgeContent {
  width: 16px;
  height: 16px;
  contain: strict;
  --MaskIconSize: 16px;
}
