.Actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  contain: content;
}

.SelectWrapper {
  contain: content;
}

.Select {
  appearance: none;
  background: transparent;
  contain: content;
  color: inherit;
  padding: 2px 23px 2px 8px;
}
