.Aside {
  min-width: 175px;
  contain: strict;
}

.AdditionalDetailsTitle {
  font-size: 120%;
  padding-bottom: 15px;
  contain: content;
}

.MoreInfoEntry {
  display: flex;
  contain: content;
  gap: 10px;
}
