.Aside {
  min-width: 175px;
  contain: strict;
  overflow-y: auto;
  scrollbar-color: var(--EditorScrollBarBackground, rgba(57, 71, 71, 0.6)) transparent;
  scrollbar-width: thin;
}

.AdditionalDetailsTitle {
  font-size: 120%;
  padding-bottom: 15px;
  contain: content;
}

.AdditionalDetailsEntry {
  padding-top: 15px;
  padding-bottom: 15px;
  contain: content;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.22);
}

.MoreInfo {
  display: flex;
  flex-direction: column;
  contain: content;
}

.MoreInfoEntry {
  display: flex;
  contain: content;
  gap: 10px;
  /* TODO avoid grid display */
  display: grid;
  grid-template-columns: 40% 60%;
}

.Link {
  color: dodgerblue;
  cursor: pointer;
}
