.Button {
  contain: content;
  display: flex;
  border-radius: 2px;
  border: none;
  place-content: center;
  place-items: center;
  padding: 5px 10px;
  white-space: nowrap;
}

.Button:where(:focus) {
  background: var(--SplitButtonHoverBackground, #387674);
  outline: 1px solid var(--FocusBorder);
  outline-offset: 2px;
}

.ButtonPrimary {
  background: var(--SplitButtonBackground, rgb(35, 112, 112));
  color: var(--SplitButtonForeground, white);
  cursor: pointer;
}

.ButtonPrimary:where(:hover),
.ButtonPrimary:where(:focus) {
  background: var(--SplitButtonHoverBackground, #387674);
}

.ButtonSecondary {
  background: var(--ButtonSecondaryBackground, #313131);
  color: var(--ButtonSecondaryForeground, #cccccc);
  cursor: pointer;
}

.ButtonSecondary:where(:hover),
.ButtonSecondary:where(:focus) {
  background: var(--ButtonSecondaryHoverBackground, #45494e);
}

.ButtonNarrow {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ButtonWide {
  max-width: 300px;
}

.ButtonDisabled {
  background: gray;
  cursor: not-allowed;
}
