.Category {
  background: transparent;
  border: none;
  color: inherit;
  border: 1px solid var(--PanelBorderTopColor, color-mix(in srgb, var(--WorkbenchForeground) 30%, transparent));
  cursor: pointer;
}

.Category:hover {
  background: var(--ListHoverBackground, color-mix(in srgb, var(--WorkbenchForeground) 8%, transparent));
  color: var(--ListHoverForeground, var(--WorkbenchForeground));
}
