:root {
  --ToolBarHoverBackground: rgba(90, 93, 94, 0.31);
}

.ChatSelect {
  background: transparent;
  border-radius: 4px;
  border: none;
  color: var(--vscode-descriptionForeground, var(--vscode-disabledForeground));
  display: flex;
  gap: 4px;
  min-width: 0;
  padding: 0 !important;
  position: relative;
  flex-shrink: 0;
}

.ChatSelect .MaskIcon {
  width: 10px;
  height: 10px;
  pointer-events: none;
}

.ChatSelect {
  padding: 4px !important;
  cursor: pointer;
}

.ChatSelect:hover {
  background: var(--ToolBarHoverBackground);
}
