.ChatSendArea {
  display: flex;
  gap: 10px;
  padding: var(--ChatSendAreaPaddingTop, 10px) var(--ChatSendAreaPaddingRight, 10px) var(--ChatSendAreaPaddingBottom, 10px)
    var(--ChatSendAreaPaddingLeft, 10px);
  flex-direction: column;
  height: var(--ChatSendAreaHeight, 90px);
  contain: strict;
}

.ChatSendAreaContent {
  position: relative;
  background: var(--InputBoxBackground);
  border-radius: 5px;
  padding: 10px;
}

.ChatSendArea .MultilineInputBox {
  height: var(--ChatTextAreaHeight, var(--ChatInputBoxHeight, 20px));
  min-height: var(--ChatTextAreaHeight, var(--ChatInputBoxHeight, 20px));
  padding: var(--ChatTextAreaPaddingTop, 0) var(--ChatTextAreaPaddingRight, 0) var(--ChatTextAreaPaddingBottom, 0)
    var(--ChatTextAreaPaddingLeft, 0);
}

.ChatSendAreaBottom {
  display: flex;
  contain: strict;
  height: 20px;
  justify-content: space-between;
}
