.DebugPropertyKey {
  color: #c586c0;
}

.DebugValueNumber {
  color: hsl(252deg 100% 75%);
}

.DebugValueUndefined,
.DebugValueObject,
.DebugValueFunction,
.DebugValueGetter {
  color: rgb(128, 134, 139);
}

.DebugValueString {
  color: #8caec1;
}

.DebugValueBoolean {
  color: #cd6564;
}
