.DebugButtons {
  contain: content;
  height: 100%;
  display: flex;
  align-items: center;
}

.DebugContinue,
.DebugStepOver,
.DebugPause,
.DebugStepInto,
.DebugStepOut {
  color: var(--DebugButtonDefault, #75beff);
}

.DebugRestart {
  color: var(--DebugButtonRestart, #89d185);
}

.DebugStop {
  color: var(--DebugButtonStop, #f48771);
}
