.DebugButtons {
  contain: strict;
  height: 30px;
  flex: 1;
  display: flex;
}

.DebugButton {
}

.DebugContinue,
.DebugStepOver,
.DebugPause,
.DebugStepInto,
.DebugStepOut {
  color: #75beff;
}

.DebugRestart {
  color: #89d185;
}

.DebugStop {
  color: #f48771;
}
