.DragImage {
  width: 100px;
  height: 20px;
  background: var(--SideBarBackground); /* TODO */
  position: absolute;
  padding: 0 4px;
  translate: -999px -999px;
  willchange: translate;
  contain: strict;
}
