.E2eTest {
  contain: strict;
  display: flex;
  flex-direction: row;
  position: absolute;
  background: darkblue;
}

.E2eTestContent {
  margin: 0;
  contain: strict;
  flex: 1;
}

.E2eTestPreview {
  contain: strict;
  flex: 1;
  display: flex;
  padding: 15px;
  position: relative;
}

.E2eTestIframeWrapper {
  position: absolute;
  width: 1000px;
  height: 600px;
  contain: size;
  display: flex;
  transform: scale(0.5);
  transform-origin: 0 0;
}

.E2eTestIframe {
  contain: strict;
  flex: 1;
  border: 1px solid darkblue;
}
