.E2eTest {
  contain: strict;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  position: absolute;
=======
>>>>>>> origin/main
}

.E2eTestContent {
  margin: 0;
  contain: strict;
  flex: 1;
}

.E2eTestPreview {
  contain: strict;
  flex: 1;
<<<<<<< HEAD
  display: flex;
  padding: 15px;
}

.E2eTestIframe {
  contain: strict;
  flex: 1;
  border: 1px solid darkblue;
=======
>>>>>>> origin/main
}
