.E2eTestsIframe {
  width: 800px;
  height: 600px;
  contain: strict;
  border: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
}

.TestActive {
  color: yellowgreen;
}

.InlineButton {
  width: 16px;
  height: 16px;
  contain: strict;
  background: transparent;
  border: none;
  display: flex;
  --MaskIconSize: 16px;
  padding: 0;
  flex-shrink: 0;
  color: var(--WorkbenchForeground);
}
