#Completions {
  background: var(--ContextMenuBackground);
  color: white;
  box-shadow: rgb(0, 0, 0) 0px 2px 4px;
  user-select: none;
  font-size: 13px;
  pointer-events: all;
}

.EditorCompletionItem {
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  contain: strict;
  gap: 5px;
}

[class^='ColoredMaskIcon'] {
  width: 20px;
  height: 20px;
  contain: strict;
  display: block;
  background: currentColor;
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 16px;
  -webkit-mask-position: 50% 50%;
  pointer-events: none;
}

.EditorCompletionItem.Focused {
  background: #405c50;
}

/* TODO maybe put this all into editor */

/* Rename Widget */
.RenameWidget {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}

/* Error Widget */
.EditorWidgetError {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgb(37, 35, 35);
  pointer-events: auto;
}

/* Alert  */
.AriaAlert {
  position: absolute;
  left: -999em;
  top: 0;
}

.monaco-aria-container {
  width: 0;
  height: 0;
}
