.MainHeader {
  flex: initial;
  height: 35px;
  contain: strict;
}

.MainTabs {
  background: rgb(40, 46, 47);
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(
    --TabsBackground
  ); /* TODO variable name should match class name */
  /* TODO investigate perf */
  /* contain: children; */
}

.MainTab {
  border-right: 1px solid rgb(34, 34, 34);
  background: var(--TabBackground);
  color: var(--TabForeground);
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  font-size: 13px;
  white-space: nowrap;
  max-width: 200px;
}

.MainTab[aria-selected='true'] {
  border-right: 1px solid rgb(34, 34, 34);
  background: var(--TabActiveBackground);
  color: var(--TabActiveForeground);
}

/* should be kept in sync with explorer */
.MainTab::before {
  content: ' ';
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 4px;
  background-repeat: no-repeat;
  line-height: inherit;
  margin-top: -3px; /* TODO why this? */
}

.MainTab::before {
  content: ' ';
  contain: strict;
  width: 22px;
  height: 22px;
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  line-height: inherit !important;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-shrink: 0;
  background-size: cover;
  background-size: 16px;
  background-position: 0;
}

.ManiTabLabel {
  pointer-events: none;
  contain: content;
}

.EditorTabCloseButton {
  contain: strict;
  border: none;
  padding: 0;
  width: 23px;
  height: 23px;
  position: relative;
  background: transparent;
  border-radius: 4px;
  display: flex;
  margin-left: 4px;
  flex-shrink: 0;
}

.EditorTabCloseButton::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--TabActiveForeground);
  -webkit-mask-image: url(/icons/icon-close.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 50%;
  mask-size: 50%;
}

.EditorTabCloseButton:hover {
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.1s;
}

.EditorTabStatus {
  width: 22px;
  height: 15px;
}

/* TODO investigate whether classNames vs data-attribute makes a difference here (performance-wise) */
.EditorTabStatus[data-status='1'] /* default */ {
  display: none;
}

.EditorTabStatus[data-status='2'] /* modified */ {
  background: white;
  -webkit-mask: url(/packages/renderer-process/assets/icons/circle-filled.svg)
    100% 50% / 15px no-repeat;
}
