:root {
  --ErrorBackground: #5a1d1d;
  --ErrorForeground: rgb(156, 162, 160);
  --InputValidationErrorBorder: #be1100;
  --DisabledForeground: rgba(204, 204, 204, 0.5);
}

.ExplorerInputBox {
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  flex: 1;
  background: var(--InputBoxBackground);
  border: 1px solid var(--InputBoxBorder, rgb(55, 65, 63));
  padding: 0;
  color: var(--InputBoxForeground);
  font-size: 13px;
  height: 22px;
  contain: strict;
}

.ExplorerInputBox::placeholder {
  color: var(--InputBoxPlaceholderForeground, rgba(255, 255, 255, 0.3));
}

.ExplorerInputBox:where(:focus) {
  border-color: var(--FocusOutline, lightgray);
}

.InputValidationError {
  border-color: var(--InputValidationErrorBorder);
}

.ExplorerErrorMessage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--ErrorBackground);
  color: var(--ErrorForeground);
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--InputValidationErrorBorder);
  line-height: 20px;
  contain: content;
}
