:root {
  --FeatureBackground: transparent;
  /* --FeatureSelectedBackground: rgba(59, 71, 66, 0.5); */
}

.Features {
  contain: strict;
  flex: 1;
  display: flex;
}

.FeaturesList {
  width: 200px;
  contain: strict;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
}

/* TODO rename to featurelistitem */
.Feature {
  height: 22px;
  contain: strict;
  background: var(--FeatureBackground);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  border: none;
  color: var(--WorkbenchForeground);
  flex-shrink: 0;
  text-overflow: ellipsis;
  white-space: pre;
}

/* TODO rename to featurelistItemSelected */
.FeatureSelected {
  background: var(--FeatureSelectedBackground, rgba(59, 71, 66, 0.5));
}

.DefinitionListItemHeading {
  font-size: 12px;
  white-space: pre;
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}
