:root {
  --FeatureBackground: transparent;
  --FeatureSelectedBackground: rgba(59, 71, 66, 0.5);
}

.Features {
  contain: strict;
  flex: 1;
  display: flex;
}

.FeaturesList {
  width: 200px;
  contain: strict;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.Feature {
  height: 22px;
  contain: strict;
  background: var(--FeatureBackground);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.FeatureSelected {
  background: var(--FeatureSelectedBackground);
}

.FeatureContent {
  display: flex;
  padding-left: 20px;
  flex: 1;
  contain: strict;
}

.FeatureTheme {
  contain: content;
  flex: 1;
}
