.IconButton {
  width: 25px;
  height: 25px;
  contain: strict;
  flex-shrink: 0;
  background: transparent;
  border: none;
  color: #c5c5c5;
}

.IconButton[disabled] {
  color: rgba(204, 204, 204, 0.5);
}

.IconButton:enabled:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.IconButton:focus-visible {
  outline: 1px solid green;
  outline-offset: -1px;
}
