.ImagePreview {
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.ImagePreviewImage {
  min-height: 40px;
  max-width: 100%;
  max-height: 100%;
  background: transparent;
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
}

.ImagePreviewCaption {
  height: 20px;
  color: gray;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}
