:root {
  --InsertionBackground: rgba(155, 185, 85, 0.4);
  --DeletionBackground: rgba(255, 0, 0, 0.4);
  --ScrollBarShadow: rgba(0, 0, 0, 0.14);
}

.InlineDiffEditor {
  display: flex;
  color: rgb(188, 190, 190);
  flex: 1;
  flex-direction: column;
}

.InlineDiffEditorContent {
  contain: strict;
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  position: relative !important;
}

.InlineDiffEditor .EditorRow,
.InlineDiffEditor .Insertion,
.InlineDiffEditor .Deletion {
  padding: 0 8px;
}

.InlineDiffEditor .Deletion {
  background: rgba(248, 81, 73, 0.18);
}

.InlineDiffEditor .Insertion {
  background: rgba(46, 160, 67, 0.18);
}
