:root {
  --InputBoxForeground: #e1e1e1;
}

.InputBox {
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  flex: 1;
  background: var(--InputBoxBackground);
  border: 1px solid var(--InputBoxBorder, rgb(55, 65, 63));
  padding: 4px 6px;
  color: var(--InputBoxForeground);
  font-size: 13px;
  height: 24px;
  contain: strict;
}

/* hide small "x" on chromium  */
.InputBox::-webkit-search-decoration,
.InputBox::-webkit-search-cancel-button,
.InputBox::-webkit-search-results-button,
.InputBox::-webkit-search-results-decoration,
.MultilineInputBox::-webkit-search-decoration,
.MultilineInputBox::-webkit-search-cancel-button,
.MultilineInputBox::-webkit-search-results-button,
.MultilineInputBox::-webkit-search-results-decoration {
  display: none;
}

.InputBox::-webkit-outer-spin-button,
.InputBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.SearchFieldInput {
  flex: 1;
  resize: none;
  color: var(--InputBoxForeground);
  border: none;
  font-size: 13px;
  height: 24px;
  contain: strict;
  line-height: 24px;
  width: 100%;
  padding: 4px 6px;
}

.SearchFieldInput {
  background: transparent;
}

.MultilineInputBox {
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  flex: 1;
  background: var(--InputBoxBackground);
  padding: 4px 6px;
  color: var(--InputBoxForeground);
  font-size: 13px;
  height: 24px;
  contain: strict;
  resize: none;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.InputBox::placeholder,
.MultilineInputBox::placeholder {
  color: var(--InputBoxPlaceholderForeground, rgba(255, 255, 255, 0.3));
}

.InputBox:focus {
  border-color: var(--FocusOutline, lightgray);
}
