.InputBox {
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  flex: 1;
  background: var(--InputBoxBackground);
  border: 1px solid rgb(55, 65, 63);
  padding: 4px;
  color: var(--InputBoxForeground);
  font-size: 13px;
  contain: strict;
  position: relative;
  cursor: text;
  /* position: relative; */
}

/* hide small "x" on chromium  */
.InputBox::-webkit-search-decoration,
.InputBox::-webkit-search-cancel-button,
.InputBox::-webkit-search-results-button,
.InputBox::-webkit-search-results-decoration {
  display: none;
}

.Cursor {
  width: 1px;
  background: rgb(225, 225, 225);
  contain: strict;
  height: 14px;
  position: absolute;
  top: 4px; /* padding */
  left: 0;
}

.Selection {
  height: 14px;
  position: absolute;
  contain: strict;
  top: 4px; /* padding */
  left: 0;
  z-index: -1;
  background: rgb(5, 127, 197);
}
