:root {
  --InputBadgeBackground: #90599b;
  --InputBadgeForeground: white;
}

.InputBadge {
  contain: content;
  flex-shrink: 0;
  background: var(--InputBadgeBackground);
  color: var(--InputBadgeForeground);
  padding-left: 4px;
  padding-right: 4px;
  height: 22px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 11px;
  width: var(--InputBadgeWidth);
}
