.KeyBindingsHeader {
  height: 50px;
  contain: strict;
  display: flex;
  place-items: center;
  padding-left: 27px;
  padding-right: 15px;
}

.KeyBindingsSearchWrapper {
  height: 30px;
  contain: strict;
  flex: 1;
  display: flex;
  background: var(--InputBoxBackground);
  border: 1px solid var(--InputBoxBorder, rgb(55, 65, 63));
}

.KeyBindingsSearchInputBox {
  height: 100%;
  margin: 0;
  border: none;
  outline: none;
  background: var(--InputBoxBackground);
  padding: 4px 6px;
  font-size: 14px;
  contain: strict;
  color: var(--InputBoxForeground);
  flex: 1;
}

.KeyBindingsSearchActions {
  display: flex;
  contain: content;
  gap: 10px;
  padding-right: 10px;
  align-items: center;
}

/* clears the 'X' from Chrome */
.KeyBindingsSearchInputBox::-webkit-search-decoration,
.KeyBindingsSearchInputBox::-webkit-search-cancel-button,
.KeyBindingsSearchInputBox::-webkit-search-results-button,
.KeyBindingsSearchInputBox::-webkit-search-results-decoration {
  display: none;
}
