.KeyBindingsTableWrapper {
  padding: 0 15px;
  position: relative;
}

.KeyBindingsTable {
  width: 100%;
  table-layout: fixed;
  contain: content;
  border-collapse: collapse;
}

.KeyBindingsTableBody {
  white-space: pre;
  overflow-y: auto;
  user-select: none;
  contain: content;
}

.KeyBindingsTableRow {
  height: 24px;
  contain: strict;
}

.KeyBindingsTableRow:where(:hover) {
  color: #e0e0e0;
  background: rgba(64, 92, 80, 0.2);
}

.KeyBindingsTableRow:where(:not(:hover, .KeyBindingsTableRowSelected)) .KeyBindingsEditButton {
  display: none;
}

.KeyBindingsTableRowOdd {
  background: rgba(156, 162, 160, 0.04);
}

.KeyBindingsTableRowSelected {
  background: #515f59;
}

.KeyBindingsTableCell {
  overflow: hidden;
  text-overflow: ellipsis;
  contain: strict;
  text-align: left;
}
