.Label {
  display: inline-block;
  white-space: nowrap;
  contain: content;
}

.LabelDetail {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.9em;
  opacity: 0.7;
  contain: content;
}
