.MaskIcon {
  display: block;
  position: absolute;
  inset: 0;
  background: currentColor;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: var(--MaskIconSize);
  -webkit-mask-size: var(--MaskIconSize);
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  pointer-events: none;
}

.ColoredMaskIcon {
  width: 20px;
  height: 20px;
  contain: strict;
  display: block;
  background: currentColor;
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 16px;
  -webkit-mask-position: 50% 50%;
  pointer-events: none;
}

.MaskIconMinimize {
  -webkit-mask-image: url(/icons/chrome-minimize.svg);
  mask-image: url(/icons/chrome-minimize.svg);
}

.MaskIconMaximize {
  -webkit-mask-image: url(/icons/chrome-maximize.svg);
  mask-image: url(/icons/chrome-maximize.svg);
}

.MaskIconRestore {
  -webkit-mask-image: url(/icons/chrome-restore.svg);
  mask-image: url(/icons/chrome-restore.svg);
}

.MaskIconChromeClose {
  -webkit-mask-image: url(/icons/chrome-close.svg);
  mask-image: url(/icons/chrome-close.svg);
}

.MaskIconFiles {
  -webkit-mask-image: url(/icons/files.svg);
  mask-image: url(/icons/files.svg);
}

.MaskIconSearch {
  -webkit-mask-image: url(/icons/search.svg);
  mask-image: url(/icons/search.svg);
}

.MaskIconSourceControl {
  -webkit-mask-image: url(/icons/source-control.svg);
  mask-image: url(/icons/source-control.svg);
}

.MaskIconDebugAlt2 {
  -webkit-mask-image: url(/icons/debug-alt-2.svg);
  mask-image: url(/icons/debug-alt-2.svg);
}

.MaskIconExtensions {
  -webkit-mask-image: url(/icons/extensions.svg);
  mask-image: url(/icons/extensions.svg);
}

.MaskIconSettingsGear {
  -webkit-mask-image: url(/icons/settings-gear.svg);
  mask-image: url(/icons/settings-gear.svg);
}

.MaskIconEllipsis {
  -webkit-mask-image: url(/icons/ellipsis.svg);
  mask-image: url(/icons/ellipsis.svg);
}

.MaskIconArrowDown {
  -webkit-mask-image: url(/icons/arrow-down.svg);
  mask-image: url(/icons/arrow-down.svg);
}

.MaskIconArrowUp {
  -webkit-mask-image: url(/icons/arrow-up.svg);
  mask-image: url(/icons/arrow-up.svg);
}

.MaskIconClose {
  -webkit-mask-image: url(/icons/close.svg);
  mask-image: url(/icons/close.svg);
}
