.MaskIcon,
.Icon {
  display: block;
  background: currentColor;
  mask-repeat: no-repeat;
  mask-size: var(--MaskIconSize);
  mask-position: 50% 50%;
  pointer-events: none;
  contain: strict;
  width: 100%;
  height: 100%;
}

.ColoredMaskIcon {
  width: 20px;
  height: 20px;
  contain: strict;
  display: block;
  background: currentColor;
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  mask-repeat: no-repeat;
  mask-size: 16px;
  mask-position: 50% 50%;
  pointer-events: none;
  contain: strict;
  flex-shrink: 0;
}

.MaskIconMinimize,
.IconMinimize {
  mask-image: url(/icons/chrome-minimize.svg);
}

.MaskIconMaximize,
.IconMaximize {
  mask-image: url(/icons/chrome-maximize.svg);
}

.MaskIconRestore,
.IconRestore {
  mask-image: url(/icons/chrome-restore.svg);
}

.MaskIconPlay,
.IconPlay {
  mask-image: url(/icons/play.svg);
}

.MaskIconChromeClose,
.IconChromeClose {
  mask-image: url(/icons/chrome-close.svg);
}

.MaskIconFiles,
.IconFiles {
  mask-image: url(/icons/files.svg);
}

.MaskIconSearch,
.IconSearch {
  mask-image: url(/icons/search.svg);
}

.MaskIconSourceControl,
.IconSourceControl {
  mask-image: url(/icons/source-control.svg);
}

.MaskIconDebugAlt2,
.IconDebugAlt2 {
  mask-image: url(/icons/debug-alt-2.svg);
}

.MaskIconExtensions,
.IconExtensions {
  mask-image: url(/icons/extensions.svg);
}

.MaskIconSettingsGear,
.IconSettingsGear {
  mask-image: url(/icons/settings-gear.svg);
}

.MaskIconEllipsis,
.IconEllipsis {
  mask-image: url(/icons/ellipsis.svg);
}

.MaskIconArrowDown,
.IconArrowDown {
  mask-image: url(/icons/arrow-down.svg);
}

.MaskIconArrowUp,
.IconArrowUp {
  mask-image: url(/icons/arrow-up.svg);
}

.MaskIconClose,
.IconClose,
.EditorTabCloseButton:hover .MaskIconCircleFilled,
.IconCircleFilled {
  mask-image: url(/icons/close.svg);
}

.MaskIconCaseSensitive,
.IconCaseSensitive {
  mask-image: url(/icons/case-sensitive.svg);
}

.MaskIconWholeWord,
.IconWholeWord {
  mask-image: url(/icons/whole-word.svg);
}

.MaskIconRegex,
.IconRegex {
  mask-image: url(/icons/regex.svg);
}

.MaskIconChevronRight,
.IconChevronRight {
  mask-image: url(/icons/chevron-right.svg);
}

.MaskIconChevronDown,
.IconChevronDown {
  mask-image: url(/icons/chevron-down.svg);
}

.MaskIconRefresh,
.IconRefresh {
  mask-image: url(/icons/refresh.svg);
}

.MaskIconClearAll,
.IconClearAll {
  mask-image: url(/icons/clear-all.svg);
}

.MaskIconCloud {
  mask-image: url(/icons/cloud.svg);
}

.MaskIconTag {
  mask-image: url(/icons/tag.svg);
}

.MaskIconNewFile,
.IconNewFile {
  mask-image: url(/icons/new-file.svg);
}

.MaskIconNewFolder,
.IconNewFolder {
  mask-image: url(/icons/new-folder.svg);
}

.MaskIconListFlat,
.IconListFlat {
  mask-image: url(/icons/list-flat.svg);
}

.MaskIconCollapseAll,
.IconCollapseAll {
  mask-image: url(/icons/collapse-all.svg);
}

.MaskIconFilter,
.IconFilter {
  mask-image: url(/icons/filter.svg);
}

.MaskIconBlank,
.IconBlank {
  mask-image: url(/icons/blank.svg);
}

.MaskIconCheck,
.IconCheck {
  mask-image: url(/icons/check.svg);
}

.MaskIconEllipsis,
.IconEllipsis {
  mask-image: url(/icons/ellipsis.svg);
}

.MaskIconBook,
.IconBook {
  mask-image: url(/icons/book.svg);
}

.MaskIconAdd,
.IconAdd {
  mask-image: url(/icons/add.svg);
}

.MaskIconTrash,
.IconTrash {
  mask-image: url(/icons/trash.svg);
}

.MaskIconSplitHorizontal,
.IconSplitHorizontal {
  mask-image: url(/icons/split-horizontal.svg);
}

.MaskIconReplace,
.IconReplace {
  mask-image: url(/icons/replace.svg);
}

.MaskIconReplaceAll,
.IconReplaceAll {
  mask-image: url(/icons/replace-all.svg);
}

.MaskIconChevronUp,
.IconChevronUp {
  mask-image: url(/icons/chevron-up.svg);
}

.MaskIconArrowLeft,
.IconArrowLeft {
  mask-image: url(/icons/arrow-left.svg);
}

.MaskIconArrowRight,
.IconArrowRight {
  mask-image: url(/icons/arrow-right.svg);
}

.MaskIconLinkExternal,
.IconLinkExternal {
  mask-image: url(/icons/link-external.svg);
}

.MaskIconExclude,
.IconExclude {
  mask-image: url(/icons/exclude.svg);
}

.MaskIconGoToFile,
.IconGoToFile {
  mask-image: url(/icons/go-to-file.svg);
}

.MaskIconDiscard,
.IconDiscard {
  mask-image: url(/icons/discard.svg);
}

.MaskIconRemove,
.IconRemove {
  mask-image: url(/icons/remove.svg);
}

.MaskIconError,
.IconError {
  mask-image: url(/icons/error.svg);
}

.MaskIconWarning,
.IconWarning {
  mask-image: url(/icons/warning.svg);
}

.MaskIconCircleFilled,
.IconCircleFilled {
  mask-image: url(/icons/circle-filled.svg);
}

.MaskIconInfo,
.IconInfo {
  mask-image: url(/icons/info.svg);
}

.MaskIconSymbolValue,
.IconSymbolValue,
.MaskIconSymbolDefault,
.IconSymbolDefault {
  mask-image: url(/icons/symbol-enum.svg);
}

.MaskIconSymbolProperty,
.IconSymbolProperty {
  mask-image: url(/icons/symbol-property.svg);
}

.MaskIconSymbolFunction,
.IconSymbolFunction {
  mask-image: url(/icons/symbol-method.svg);
}

.MaskIconSymbolVariable,
.IconSymbolVariable {
  mask-image: url(/icons/symbol-variable.svg);
}

.MaskIconPreview {
  mask-image: url(/icons/open-preview.svg);
}

.MaskIconSymbolKeyword,
.IconSymbolKeyword {
  mask-image: url(/icons/symbol-keyword.svg);
}

.MaskIconSymbolField,
.IconSymbolField {
  mask-image: url(/icons/symbol-field.svg);
}

.MaskIconEdit,
.IconEdit {
  mask-image: url(/icons/edit.svg);
}

.MaskIconSymbolFile,
.IconSymbolFile {
  mask-image: url(/icons/symbol-file.svg);
}

.MaskIconDebugPause {
  mask-image: url(/icons/debug-pause.svg);
}

.MaskIconDebugStepOver {
  mask-image: url(/icons/debug-step-over.svg);
}

.MaskIconDebugStepInto {
  mask-image: url(/icons/debug-step-into.svg);
}

.MaskIconDebugStepOut {
  mask-image: url(/icons/debug-step-out.svg);
}

.MaskIconDebugContinue {
  mask-image: url(/icons/debug-continue.svg);
}

.MaskIconTriangleRight {
  mask-image: url(/icons/triangle-right.svg);
}

.MaskIconTriangleDown {
  mask-image: url(/icons/triangle-down.svg);
}

.MaskIconDebugRestart {
  mask-image: url(/icons/debug-restart.svg);
}

.MaskIconDebugStop {
  mask-image: url(/icons/debug-stop.svg);
}

.MaskIconPreserveCase {
  mask-image: url(/icons/preserve-case.svg);
}

.MaskIconListTree {
  mask-image: url(/icons/list-tree.svg);
}

.MaskIconProgress {
  mask-image: url(/icons/progress.svg);
}

.MaskIconRepo {
  mask-image: url(/icons/repo.svg);
}

/* TODO decide */
.MaskIconRecordKey,
.MaskIconRecordKeys {
  mask-image: url(/icons/record-keys.svg);
}

.MaskIconSortPrecedence {
  mask-image: url(/icons/sort-precedence.svg);
}
