/* based on https://github.com/microsoft/vscode/blob/91687c47955bd84db607ef8aaf24b7cf35bfd1ad/src/vs/base/browser/ui/menu/menu.ts#L1005 by Microsoft (License MIT) */

.Menu {
  top: 0;
  left: 0;
  position: absolute;
  background: var(--MenuBackground, rgb(60, 60, 60));
  color: var(--MenuForeground, white);
  box-shadow: var(--MenuBoxShadow, rgb(0 0 0 / 36%) 0px 2px 8px);
  user-select: none;
  min-width: 150px;
  margin: 0;
  padding: 4px 0;
  font-size: 13px;
  z-index: 1;
  outline: none;
  pointer-events: auto;
  border-radius: 5px;
  app-region: no-drag;
}

.MenuItem {
  height: 26px;
  padding: 0 28px;
  align-items: center;
  white-space: nowrap;
  position: relative;
  outline: none;
  display: flex;
  contain: content;
  margin: 0 4px;
  border-radius: 4px;
}

.MenuItemFocused {
  background: var(--MenuItemHoverBackground, #687f7b33);
  color: var(--MenuItemHoverForeground, inherit);
  outline: none;
}

.MenuItemSubMenuArrowRight {
  width: 16px;
  height: 16px;
  display: block;
  mask-image: url(/icons/chevron-right.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background: currentColor;
  margin-left: auto;
  margin-right: -20px;
  contain: strict;
}

.MenuItemSeparator {
  height: 11px;
  position: relative;
  contain: strict;
  display: flex;
  align-items: center;
}

.MenuItemSeparatorLine {
  width: 100%;
  height: 1px;
  background: var(--MenuItemSeparatorBackground, #606060);
}

.MenuItemCheckMark {
  padding: 0;
}

.MenuItemCheckmarkIcon {
  width: 26px;
  height: 26px;
  contain: strict;
  mask-size: 20px;
  mask-position: 50% 50%;
  background: currentColor;
  mask-repeat: no-repeat;
}

.MenuItemKeyBinding {
  padding-left: 2em;
  margin-left: auto;
}
