.Preview {
  background: var(--EditorBackground);
  border-left: 1px solid var(--SeparatorBorder);
  background: white;
  color: black;
  user-select: text;
  width: var(--PreviewWidth);
}

.Preview > .Html {
  margin: 8px;
}

.SimpleBrowserHtmlPreview {
  flex: 1;
  min-height: 0;
  overflow: auto;
  position: relative;
}

.SimpleBrowserHtmlPreview > .Preview {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
}
