.Preview {
  background: var(--EditorBackground);
  border-left: 1px solid var(--SeparatorBorder);
  background: white;
  color: black;
  user-select: text;
  width: var(--PreviewWidth);
}

.Preview .Html {
  margin: 8px;
}
