:root {
  --SashSize: 4px;
  --SashBackground: rgba(204, 204, 204, 0.13);
}

.Resizer {
  width: 2px;
  height: 100%;
  background-color: transparent;
  cursor: ew-resize;
  position: absolute;
  width: var(--SashSize);
  height: 100%;
  top: 0;
  contain: strict;
  outline: none;
  border: none;
  padding: 0;
}

.ResizerInner {
  contain: strict;
  height: 100%;
  width: 1px;
  background: var(--SashBackground);
}

.ResizerOne {
  left: var(--ResizerOneLeft);
}

.ResizerTwo {
  left: var(--ResizerTwoLeft);
}
