.ScrollBarThumb {
  width: 100%;
  /* height: 40px; */
  position: absolute;
  contain: strict;
  background: var(--EditorScrollBarBackground, rgba(57, 71, 71, 0.6));
  height: var(--ScrollBarThumbHeight);
  top: var(--ScrollBarThumbTop);
}

.ScrollBarThumbActive {
  background: var(--ScrollBarThumbActiveBackground, rgba(83, 100, 100, 0.4));
}

.ScrollBarThumbHorizontal {
  height: 100%;
  width: auto;
}
