.ScrollBarThumb,
.ScrollBarThumbVertical,
.ScrollBarThumbHorizontal {
  width: 100%;
  /* height: 40px; */
  position: absolute;
  contain: strict;
  background: var(--EditorScrollBarBackground, rgba(57, 71, 71, 0.6));
}

.ScrollBarThumbHorizontal {
  height: 100%;
  width: auto;
}

.ScrollBar,
.ScrollBarVertical,
.ScrollBarHorizontal,
.ScrollBarHorizontalSmall,
.ScrollBarSmall {
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  bottom: 0;
  contain: strict;
  cursor: default;
}

.ScrollBarHorizontal,
.ScrollBarHorizontalSmall {
  left: 0;
  top: auto;
  height: 14px;
  width: auto;
}

.ScrollBarHorizontalSmall {
  height: 3px;
}

.ScrollBarSmall {
  width: 10px;
}
