.SearchHeader {
  padding-top: 5px;
  contain: content;
}

.SearchHeaderTop {
  display: flex;
  contain: content;
  padding-right: 12px;
}

.SearchHeaderTopRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  contain: content;
  gap: 6px;
}

.SearchHeaderDetails {
  display: flex;
  position: relative;
  contain: strict;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  padding-right: 10px;
  align-items: end;
}

.SearchHeaderDetailsExpanded {
  display: flex;
  flex-direction: column;
}

.ToggleDetails {
  width: 20px;
  height: 20px;
  --MaskIconSize: 15px;
  cursor: pointer;
  align-self: flex-start;
  background: transparent;
  border: none;
  padding: 0;
  color: var(--WorkbenchForeground);
}

.SearchHeaderDetailsExpanded {
  padding: 10px;
  contain: content;
  padding-left: 20px;
  padding-top: 0;
}

.SearchHeaderDetailsHeading {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  padding: 4px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(188, 190, 190);
  flex: 1;
}

.SearchHeaderDetailsExpandedTop {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
