.SearchToggleButton {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  height: auto;
  width: 16px;
  border-radius: 0;
  align-self: stretch;
  /* TODO contain */
}

.SearchToggleButton:where(:hover) {
  background: lightgray;
}
