.SearchHeader {
  padding-top: 5px;
  contain: content;
}

.SearchHeaderTop {
  display: flex;
  contain: content;
  padding-right: 12px;
}

.SearchHeaderTopRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  contain: content;
  gap: 6px;
}

.SearchHeaderDetails {
  display: flex;
  flex-direction: column;
  position: relative;
  contain: content;
  width: 100%;
  height: 10px;
}

.ToggleDetails {
  width: 10px;
  height: 10px;
  background: orange;
  position: absolute;
  top: 0;
  right: 20px;
}
