:root {
  --SettingsInputMaxWidth: 420px;
  --SettingsSelectMaxWidth: 320px;
}

.SettingsItems {
  display: flex;
  flex-direction: column;
}

.SettingsItem {
  display: flex;
  flex-direction: column;
}

/* TODO avoid nesting */
.SettingsItem .InputBox {
  max-width: var(--SettingsInputMaxWidth);
}

/* TODO avoid nesting */
.SettingsItem .Select {
  max-width: var(--SettingsSelectMaxWidth);
}

.SettingsItem h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

/* TODO avoid nesting */
/* TODO only use padding top */
.SettingsItem p {
  margin: 0;
  padding-bottom: 10px;
}
