.SplitView {
  contain: content;
  display: flex;
  flex: 1;
}

.SplitViewVertical {
  /* width: 100%; */
  height: 100%;
  flex-direction: column;
}

.SplitViewHorizontal {
  /* height: 100%; */
  width: 100%;
  flex-direction: row;
}
