:root {
  --SymbolValueForeground: #ee9d28;
  --SymbolPropertyForeground: #aaaaaa;
  --SymbolVariableForeground: #75beff;
  --SymbolFunctionForeground: #b180d7;
  --SymbolKeywordForeground: #9ca2a0;
  --SymbolFieldForeground: #75beff;
}

.SymbolValue,
.SymbolDefault {
  color: var(--SymbolValueForeground);
  mask-image: url(/icons/symbol-enum.svg);
}

.SymbolProperty {
  color: var(--SymbolPropertyForeground);
  mask-image: url(/icons/symbol-property.svg);
}

.SymbolFunction {
  color: var(--SymbolFunctionForeground);
  mask-image: url(/icons/symbol-method.svg);
}

.SymbolVariable {
  color: var(--SymbolVariableForeground);
  mask-image: url(/icons/symbol-variable.svg);
}

.SymbolKeyword {
  color: var(--SymbolKeywordForeground);
  mask-image: url(/icons/symbol-keyword.svg);
}

.SymbolField {
  color: var(--SymbolFieldForeground);
  mask-image: url(/icons/symbol-field.svg);
}
