.TableWrapper {
  position: relative;
  padding-left: 27px;
  padding-right: 15px;
  contain: strict;
  flex: 1;
}

.Table {
  width: 100%;
  table-layout: fixed;
  contain: content; /* TODO strict? */
  border-collapse: collapse;
}

.TableHeading {
  text-align: left;
}

.TableBody {
  white-space: pre;
  overflow-y: auto;
  user-select: none;
  contain: content; /* TODO strict? */
}

.TableRow {
  height: 24px;
  contain: strict;
}

/* TODO avoid complex css */
/* TODO move this to keybindings css */
.TableRow:where(:not(:hover, .TableRowSelected)) .EditButton {
  display: none;
}

.TableRowOdd {
  background: rgba(156, 162, 160, 0.04);
}

.TableRow:where(:hover) {
  color: #e0e0e0;
  background: rgba(64, 92, 80, 0.2);
}

.TableRowSelected {
  background: #515f59;
}

.TableCell {
  overflow: hidden;
  text-overflow: ellipsis;
  contain: strict;
  text-align: left;
  white-space: nowrap;
  padding-right: 8px;
}
