:root {
  --TableRowOddBackground: rgba(156, 162, 160, 0.04);
  --TableRowSelectedBackground: #515f59;
  --TableRowHoverBackground: rgba(64, 92, 80, 0.2);
  --TableRowHoverForeground: #e0e0e0;
}

.TableWrapper {
  position: relative;
  padding-left: 27px;
  padding-right: 15px;
  contain: strict;
  flex: 1;
}

.Table {
  width: 100%;
  table-layout: fixed;
  contain: content; /* TODO strict? */
  border-collapse: collapse;
  outline: none;
}

.TableHeading {
  text-align: left;
}

.TableBody {
  white-space: pre;
  overflow-y: auto;
  user-select: none;
  contain: content; /* TODO strict? */
}

.TableRow {
  height: 24px;
  contain: strict;
}

/* TODO avoid complex css */
/* TODO move this to keybindings css */
.TableRow:where(:not(:hover, .TableRowSelected)) .EditButton {
  display: none;
}

.TableRowOdd {
  background: var(--TableRowOddBackground);
}

.TableRow:where(:hover) {
  color: var(--TableRowHoverForeground);
  background: var(--TableRowHoverBackground);
}

.TableRowSelected {
  background: var(--TableRowSelectedBackground);
}

.TableCell {
  overflow: hidden;
  text-overflow: ellipsis;
  /* contain: strict; */
  text-align: left;
  white-space: nowrap;
  padding-right: 8px;
}

.TableCellInvalid {
  text-decoration: 1px solid red underline;
  text-underline-offset: 3px;
}

.TableCellInvalid .Link,
.TableCellInvalid .Link:hover {
  text-decoration: inherit;
}
