.TitleBarTopLevelEntry {
  display: flex;
  align-items: center;
  padding: 0 8px;
  contain: content;
  -webkit-app-region: no-drag;
  app-region: no-drag;
  background: transparent;
  border: none;
  color: inherit;
}

.TitleBarTopLevelEntryLabel {
  height: 22px;
  border-radius: 5px;
  background: var(--TitleBarItemHoverForeground, rgba(90, 93, 94, 0.31));
  pointer-events: none;
  padding: 0 8px;
  display: flex;
  align-items: center;
  /* contain: content; */
}

.TitleBarEntryActive {
  padding: 0;
}

/* TODO maybe have extra focus outline border */
/*
:focus {
  border: 2px solid green;
} */
