#TitleBar {
  /* TODO should not need z index */
  z-index: 1;
  display: flex;
  background: rgb(40, 46, 47);
  background: var(--TitleBarBackground);
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  -webkit-app-region: drag;
  app-region: drag;
}

#TitleBarMenu {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.TitleBarTopLevelEntry {
  height: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.TitleBarTopLevelEntry[aria-expanded='true'],
.TitleBarTopLevelEntry:focus,
.TitleBarTopLevelEntry:hover {
  background: var(--TitleBarItemHoverForeground, rgba(255, 255, 255, 0.1));
}

/* TODO maybe have extra focus outline border */
/*
:focus {
  border: 2px solid green;
} */

#TitleBarButtons {
  margin-left: auto;
  contain: content;
  app-region: no-drag;
}

.TitleBarButton {
  width: 46px;
  height: 100%;
  contain: strict;
  background: transparent;
  border: none;
}

.TitleBarButton:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

#TitleBarButtonClose:hover {
  background-color: rgba(232, 17, 35, 0.9);
}

[class^='MaskIcon'] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: currentColor;
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 16px;
  -webkit-mask-position: 50% 50%;
  pointer-events: none;
}

.MaskIconMinimize {
  -webkit-mask-image: url(/static/icons/chrome-minimize.svg);
}
.MaskIconMaximize {
  -webkit-mask-image: url(/static/icons/chrome-maximize.svg);
}
.MaskIconClose {
  -webkit-mask-image: url(/static/icons/chrome-close.svg);
}
