:root {
  --TreeItemIgnoredBackground: #8c8c8c;
}

.TreeItem {
  color: var(--TreeItemForeground, rgb(188, 190, 190));
  display: flex;
  gap: 4px;
  height: 22px;
  line-height: 22px;
  contain: strict;
  width: 100%;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.TreeItem:where(:hover) {
  background: var(--TreeItemHoverBackground, rgba(64, 92, 80, 0.2));
  color: var(--TreeItemHoverForeground, #e0e0e0);
}

/* TODO don't use id for styling */
#TreeItemActive,
.TreeItemActive {
  background: var(--TreeItemActiveBackground, rgba(59, 71, 66, 0.5));
}

.decoration-ignore .Label {
  color: var(--TreeItemIgnoredBackground);
}
