.TreeItem [class^='FileIcon'] {
  content: ' ';
  contain: strict;
  pointer-events: none;
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 22px;
  display: inline-block;
  flex-shrink: 0;
}

.TreeItem {
  color: var(--TreeItemForeground, rgb(188, 190, 190));
  padding-left: 11px;
  padding-right: 12px;
  display: flex;
  gap: 4px;
  height: 22px;
  line-height: 22px;
  contain: strict;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}

/* .TreeItem:focus {
  background: rgba(59, 71, 66, 0.5);
} */

#TreeItemActive {
  background: var(--TreeItemActiveBackground, rgba(59, 71, 66, 0.5));
}

.TreeItem:hover {
  background: var(--TreeItemHoverBackground, rgba(64, 92, 80, 0.2));
}

.SourceControlItems {
}
