.PanelTabs {
  display: flex;
  gap: 1rem;
  height: 100%;
  contain: content;
}

.PanelTab {
  cursor: pointer;
  font-size: 11px;
  font-family:
    system-ui,
    Ubuntu,
    Droid Sans,
    sans-serif;
  text-transform: uppercase;
  height: 85%;
  line-height: 35px;
  color: var(--PanelTabForeground);
  display: flex;
  align-items: center;
  gap: 10px;
  contain: content;
  white-space: nowrap;
  background: transparent;
  border: none;
}

.PanelTabSelected {
  color: var(--PanelTabActiveForeground);
  border-bottom-color: rgb(231, 231, 231);
  border-bottom: 1px solid;
}

.PanelTab:hover {
  color: var(--PanelTabHoverForeground);
}
