.ExtensionDetail {
  user-select: text;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: var(--MainBackground);
  color: var(--WorkbenchForeground);
  padding-left: var(--ExtensionDetailPaddingLeft);
  padding-right: var(--ExtensionDetailPaddingRight);
}

.Large.ExtensionDetail {
  gap: 20px;
}

.ExtensionDetail::-webkit-scrollbar {
  width: 14px;
}

.ExtensionDetail::-webkit-scrollbar-track {
  background: transparent;
}

.ExtensionDetail::-webkit-scrollbar-thumb {
  background: var(--EditorScrollBarBackground);
}

.ExtensionDetail::-webkit-scrollbar-thumb:hover {
}

.ExtensionDetailMarkdown {
  padding: 0 20px;
}

.ExtensionDetailMarkdownLarge {
  padding: 0 40px;
}

/* TODO move into separate file */
.ExtensionDetailPanel {
  display: flex;
  contain: strict;
  flex: 1;
  max-width: var(--ExtensionDetailMaxWidth);
  margin: 0 auto;
  width: 100%;
}

/* TODO use separate classname and avoid nesting */
.ExtensionDetail .Markdown {
  overflow: auto;
}

.RuntimeStatusDefinitionList {
  contain: content;
  display: flex;
}

.Resource {
  display: flex;
  contain: content;
  gap: 5px;
  color: inherit;
  text-decoration: none;
}

.Resource:hover {
  text-decoration: underline;
}

.ResourceIcon {
  width: 20px;
  height: 20px;
  contain: strict;
  color: inherit;
}
