:root {
  --KeyBindingsEditorColor: #e1e2de;
}

.KeyBindings {
  color: var(--KeyBindingsEditorColor);
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
}

.KeyBinding {
  color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  line-height: 10px;
}

/* TODO reuse same highlight css for completions and quickpick */
.SearchHighlight {
  color: var(--CompletionHighlightForeground, #e1b974);
  font-weight: 700;
  contain: content;
}

.TableColZero {
  width: var(--TableColumnZeroWidth);
}

.TableColOne {
  width: var(--TableColumnOneWidth);
}

.TableColTwo {
  width: var(--TableColumnTwoWidth);
}

.TableColThree {
  width: var(--TableColumnThreeWidth);
}

.KeyBindings .TableHead {
  height: 30px;
  contain: strict;
  border-bottom: 1px solid gray;
}

.KeyBindings .ScrollBar {
  top: var(--ScrollBarTop);
}

.KeyBindings .ScrollBarThumb {
  height: var(--ScrollBarThumbHeight);
  top: var(--ScrollBarThumbTop);
}

.NoMatchingKeyBindingsFoundMessage {
  padding-left: 27px;
  padding-top: 5px;
}

.KeyBindingsSearchButtons {
  padding-top: 0 !important;
  padding-right: 0 !important;
}
