.Main {
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.DragOverlay {
  position: absolute;
  background: rgba(83, 89, 93, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 100ms;
  contain: strict;
}

.editor-groups-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  contain: strict;
}

.EditorGroup {
  contain: strict;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.TextEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.EditorContent {
  display: flex;
  width: 100%;
  height: 100%;
}

.EditorGroupHeader {
  display: flex;
  contain: strict;
  height: 35px;
  justify-content: space-between;
}

.SplitEditorGroupButton {
  background: transparent;
  color: white;
  border: none;
}
