.Chat {
  contain: strict;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.ChatHeader {
  contain: strict;
  display: flex;
  gap: 8px;
  padding: 8px;
  height: 50px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ChatHeader .IconButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatActions {
  contain: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.ChatList {
  contain: strict;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.ChatListItemLabel {
  flex: 1;
}

.ChatListItem {
  contain: strict;
  height: 40px;
  display: flex;
  background: transparent;
  padding-left: 10px;
}

.ChatListItem:hover {
  background: var(--ListHoverBackground);
}

.ChatDetails {
  contain: strict;
  display: flex;
  min-height: 0;
  padding: 8px;
}

.ChatDetailsContent {
  contain: strict;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 0;
  gap: 10px;
}

.ChatWelcomeMessage {
  contain: content;
  padding: 8px;
  display: flex;
  flex: 1;
}

.ChatName {
  flex: 1;
  display: flex;
  contain: strict;
  align-items: center;
}

.ChatSendArea {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
  height: 90px;
  contain: strict;
}

.ChatSendAreaContent {
  background: var(--InputBoxBackground);
  border-radius: 5px;
  padding: 10px;
}

.ChatSendArea .MultilineInputBox {
  height: 20px;
}

.ChatMessages {
  flex: 1;
  contain: strict;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-color: var(--EditorScrollBarBackground, rgba(57, 71, 71, 0.6)) transparent;
  scrollbar-width: thin;
  contain: strict;
  user-select: text;
}

.ChatSendAreaBottom {
  display: flex;
  contain: strict;
  height: 20px;
  justify-content: space-between;
}

.Message {
  display: flex;
  contain: content;
  flex-direction: column;
  padding-right: 3px;
  cursor: text;
}

.MessageUser {
  align-self: flex-end;
  padding-right: 10px;
}

.MessageAssistant {
  align-self: flex-start;
  padding-left: 10px;
}

.ChatMessageContent {
  contain: content;
  background: var(--InputBoxBackground);
  padding: 5px;
  border-radius: 5px;
}
