.CodeGeneratorWidget {
  background: var(--HoverWidgetBackground, #282e2f);
  border: 1px solid;
  border-color: var(--EditorWidgetBorder, #454545);
  color: var(--ListForeground, white);
  border-radius: 2px;
  z-index: 922;
  pointer-events: all;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.CodeGeneratorMessage {
  font-size: 11px;
  padding: 3px;
}
