.SideBar {
  color: var(--SideBarForeground, white);
  display: flex;
  flex-direction: column;
  contain: strict;
}

.SideBarTitleArea {
  contain: strict;
  display: flex;
  height: 35px;
  line-height: 35px;
  padding: 0 8px;
}

.SideBarTitleAreaTitle {
  font-size: 11px;
  cursor: default;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  padding-left: 12px;
  contain: strict;
  flex: 1;
}
