:root {
  --HoverWidgetForeground: #9ca2a0;
  --HoverWidgetBackground: #282e2f;
}

.EditorHover {
  background: var(--HoverWidgetBackground, #282e2f);
  border-color: var(--CompletionListBorder, #95a29d);
  border: 1px solid;
  bottom: 0;
  color: var(--HoverWidgetForeground, white);
  contain: content;
  cursor: text;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 20px;
  min-width: 400px;
  position: absolute;
  user-select: text;
  max-width: 400px;
  overflow: auto;
}

.EditorHover::-webkit-scrollbar {
  height: 14px;
}

.EditorHover::-webkit-scrollbar-track {
  background: transparent;
}

.EditorHover::-webkit-scrollbar-thumb {
  background: var(--EditorScrollBarBackground);
}

.HoverEditorRow {
  display: block;
  height: var(--EditorLineHeight);
  line-height: var(--EditorLineHeight);
  /* contain: strict; */
}

.HoverDisplayString {
  white-space: pre;
  /* contain: content; */
  font-family: var(--EditorFontFamily);
  font-size: var(--EditorFontSize);
  letter-spacing: var(--EditorLetterSpacing);
  font-feature-settings: var(--EditorFontFeatureSettings);
  tab-size: var(--EditorTabSize);
  font-display: block;
  padding: 4px 8px;
}

.HoverDisplayString:not(:first-child) {
  border-top: 1px solid rgba(149, 162, 157, 0.5);
}

.HoverDocumentation {
  contain: content;
  font-size: 15px;
  line-height: 1.33333;
  padding: 4px 8px;
}

.HoverProblem {
  contain: content;
  display: flex;
}

.HoverProblemMessage {
  content: content;
}

.HoverProblemDetail {
  opacity: 0.6;
  contain: content;
  padding-left: 6px;
}
