:root {
  --ErrorForeground: #f48771;
  --FindWidgetBoxShadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;
}

.FindWidget {
  /* TODO create separate variable for this */
  background: var(--ActivityBarBackground);
  z-index: 1;
  display: flex;
  padding: 0 4px;
  position: absolute;
  --MaskIconSize: 16px;
  pointer-events: all;
  box-shadow: var(--FindWidgetBoxShadow);
}

.FindWidgetRight {
  display: flex;
  flex-direction: column;
  contain: strict;
  flex: 1;
  gap: 3px;
}

.FindWidgetFind {
  display: flex;
  contain: strict;
  flex: 1;
  padding-top: 3px;
}

.FindWidgetReplace {
  display: flex;
  contain: strict;
  flex: 1;
  align-items: center;
}

.FindWidgetDetails {
  display: flex;
  contain: content;
  align-items: center;
  height: 100%;
}

.FindWidgetMatchCount {
  align-items: center;
  contain: strict;
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  height: 100%;
  padding-left: 3px;
  white-space: nowrap;
  width: 70px; /* TODO make this configurable */
}

.FindWidgetMatchCountEmpty {
  color: var(--ErrorForeground);
}

.Resizer {
  width: 2px;
  height: 100%;
  background-color: transparent;
  cursor: ew-resize;
}

.FindWidget .SearchField {
  height: var(--FindWidgetInputHeight);
}

.FindWidget .MultilineInputBox {
  height: 100%;
}

.FindWidgetActions {
  display: flex;
  contain: content;
  height: 25px;
  align-items: center;
}
