:root {
  --DropTargetBackground: #062f4a;
  --InputValidationErrorBorder: #be1100;
}

.Explorer {
  outline: none;
  flex: 1;
}

.ListItems {
  user-select: none;
}

.DropTarget {
  background: var(--DropTargetBackground);
}
