.SourceControl:focus {
  outline: var(--FocusOutline);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

.ViewSourceControlInput {
  /* margin: 20px; */
}

.SourceControlHeader {
  display: grid;
  padding: 5px 12px 6px 16px;
}

.ViewSourceControlInput[aria-busy] {
  background: lightblue;
}

.ListItems {
  user-select: none;
}

.ListItems.DropTarget {
  background: darkblue;
}
