.Problems {
  color: var(--WorkbenchForeground, white);
}

.ProblemList {
  width: 100%;
  height: 100%;
  contain: strict;
}

.Problem {
  display: flex;
  contain: strict;
  height: 22px;
  width: 100%;
  gap: 5px;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}

.ProblemBadge {
  margin-left: 5px;
}

.Problem:where(:hover) {
  color: var(--ListHoverForeground);
  background: var(--ListHoverBackground);
}

.ProblemSelected {
  background: var(--ListActiveSelectionBackground);
  color: var(--ListActiveSelectionForeground);
}

.Message {
  padding-left: 20px;
  line-height: 22px;
  width: 100%;
  height: 100%;
  contain: strict;
}

.ProblemAt {
  contain: content;
  opacity: 0.7;
}

/* TODO avoid css nesting */
.Problems .Label {
  flex: initial;
  display: flex;
}

.ProblemsTable {
  width: 100%;
  height: 100%;
  contain: strict;
  display: flex;
  flex-direction: column;
}

.ProblemsTableBody {
  flex: 1;
  contain: strict;
  overflow-y: auto;
}

.ProblemsTableRow {
  height: 21px;
  contain: strict;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.ProblemsTableRow:where(:hover) {
  color: var(--ListHoverForeground);
  background: var(--ListHoverBackground);
}

.ProblemsTableRowOdd {
  background: var(--TableRowOddBackground, rgba(156, 162, 160, 0.04));
}

/* TODO move into separate file */
.MessageAction {
  text-decoration: underline;
  margin-left: 4px;
}

.ProblemsTableRowItem {
  contain: content;
  text-align: left;
}
