.EditorFindWidget {
  background: var(--ActivityBarBackground);
  z-index: 1;
  color: wheat;
  display: flex;
  align-items: center;
  padding: 0 4px;
  position: absolute;
}

.EditorFindWidgetMatchCount {
  width: 70px;
  white-space: nowrap;
  flex-shrink: 0;
  contain: strict;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.EditorFindWidgetButton {
  width: 25px;
  height: 25px;
  contain: strict;
  flex-shrink: 0;
}

.EditorFindWidgetButton:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.EditorFindWidgetButton:focus-visible {
  outline: 1px solid green;
  outline-offset: -1px;
}
