.Workbench {
  width: var(--AppWidth);
  height: var(--AppHeight);
  contain: strict;
  font-size: 13px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.WorkbenchBody {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
}

.WorkbenchMain {
  contain: size layout style;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.ContentArea {
  flex: 1;
  display: flex;
  contain: size layout style;
  position: relative;
  /* flex-direction: column; */
}

.PreviewArea {
  display: flex;
  flex: 0 0 var(--PreviewWidth);
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  position: relative;
}

.PreviewArea > :first-child {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.PreviewAreas {
  display: flex;
  flex: 0 0 var(--PreviewAreasWidth);
  min-height: 0;
  min-width: 0;
  position: relative;
}

.PreviewAreasVertical {
  flex-direction: column;
}

.PreviewAreasVertical > .PreviewArea {
  flex: 0 0 var(--PreviewHeight);
}

.PreviewAreasVertical > .SecondaryPreviewArea {
  flex-basis: var(--SecondaryPreviewHeight);
}

.PreviewAreasVertical .SecondaryPreview {
  border-left: 0;
  border-top: 1px solid var(--SeparatorBorder);
  width: 100%;
}

.SecondaryPreviewArea {
  flex-basis: var(--SecondaryPreviewWidth);
}

.PreviewArea > .Actions {
  position: absolute;
  right: 40px;
  top: 4px;
  z-index: 1;
}

.PreviewCloseButton,
.SecondaryPreviewCloseButton {
  background: var(--TitleBarBackground, rgb(40, 46, 47));
  color: var(--TitleBarForeground, #c5c5c5);
  position: absolute;
  top: 4px;
  z-index: 1;
}

.PreviewCloseButton {
  right: 4px;
}

.SecondaryPreviewCloseButton {
  right: 4px;
}

.SecondaryPreview {
  background: var(--EditorBackground);
  border-left: 1px solid var(--SeparatorBorder);
  width: var(--SecondaryPreviewWidth);
}

.ActivityBar {
  background: var(--ActivityBarBackground);
  width: var(--ActivityBarWidth);
}

.SideBar {
  background: var(--SideBarBackground, rgb(30, 35, 36));
  width: var(--SideBarWidth);
}

.SecondarySideBar {
  background: var(--SideBarBackground, rgb(30, 35, 36));
  width: var(--SecondarySideBarWidth);
}

.Main {
  background: var(--MainBackground);
}

.StatusBar {
  background: var(--StatusBarBackground);
}

.TitleBar {
  background: rgb(40, 46, 47);
  background: var(--TitleBarBackground);
  height: var(--TitleBarHeight);
}

.Panel {
  background: var(--PanelBackground);
  height: var(--PanelHeight);
  width: var(--PanelWidth);
}
