.Chat {
  contain: strict;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  min-height: 0;
  /* padding: 10px; */
}

.ChatHeader {
  contain: strict;
  display: flex;
  gap: 8px;
  padding: 8px;
  height: 40px;
  justify-content: space-between;
}

.ChatActions {
  contain: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.ChatList {
  contain: strict;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.ChatListItem {
  contain: strict;
  height: 40px;
  display: flex;
  background: transparent;
  padding-left: 10px;
}

.ChatDetails {
  contain: strict;
  display: flex;
  min-height: 0;
  padding: 8px;
}

.ChatDetailsContent {
  contain: strict;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 0;
  gap: 10px;
}

.ChatWelcomeMessage {
  contain: content;
  padding: 8px;
}

.ChatName {
  flex: 1;
  display: flex;
  contain: strict;
  align-items: center;
}

.ChatSendArea {
  display: flex;
  contain: strict;
  height: 45px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.ChatSendArea .MultilineInputBox {
  height: 100%;
}
