#TitleBar {
  /* TODO should not need z index */
  z-index: 1;
  display: flex;

  color: var(--TitleBarForeground, rgba(204, 204, 204, 0.6));
  -webkit-app-region: drag;
  app-region: drag;
}

#TitleBar.TitleBarActive {
  color: var(--TitleBarForegroundActive, rgb(204, 204, 204));
}
