.Viewlet {
  contain: strict;
  /* flex: 1; */
}

.Viewlet.Error {
  box-sizing: border-box;
  color: lightgray;
  font-family: monospace;
  inset: 0;
  overflow: auto;
  padding: 1rem;
  position: absolute;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
}
