.Workbench {
  width: 100%;
  height: 100%;
  contain: strict;
  font-size: 13px;
  line-height: 1.4;
  display: flex;
}

.ContentArea {
  flex: 1;
  display: flex;
  contain: strict;
  /* flex-direction: column; */
}

.ActivityBar {
  background: var(--ActivityBarBackground);
}

.SideBar {
  background: var(--SideBarBackground, rgb(30, 35, 36));
}

.Main {
  background: var(--MainBackground);
}

.StatusBar {
  background: var(--StatusBarBackground);
}

.TitleBar {
  background: rgb(40, 46, 47);
  background: var(--TitleBarBackground);
}

.Panel {
  background: var(--PanelBackground);
}
