:root {
  --SettingsTabBackground: transparent;
  --SettingsTabSelectedBackground: rgba(59, 71, 66, 0.5);
}

.Settings {
  position: absolute;
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
}

.SettingsHeader {
  padding: 30px;
}

.SettingsMain {
  display: flex;
  contain: strict;
  flex: 1;
}

.SettingsSideBar {
  padding: 10px;
  min-width: 150px;
}

.SettingsSideBarHeading {
  margin: 0;
  margin-bottom: 5px;
}

.SettingsInputWrapper {
  display: flex;
  gap: 2px;
}

.SettingsContent {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: var(--EditorScrollBarBackground, rgba(57, 71, 71, 0.6)) transparent;
  scrollbar-width: thin;
}

.SettingsContentHeading {
  margin: 0;
}

.SettingsTabs {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.Tab {
  background: var(--SettingsTabBackground);
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 3px;
  padding-left: 7px;
  border: none;
  color: inherit;
  text-align: left;
}

.TabSelected {
  background: var(--SettingsTabSelectedBackground);
}

.SettingsItemCheckBox {
  display: flex;
  gap: 5px;
}
