#TitleBarButtons {
  margin-left: auto;
  contain: content;
  app-region: no-drag;
}

.TitleBarButton {
  width: 46px;
  height: 100%;
  contain: strict;
  background: transparent;
  border: none;
}

.TitleBarButton:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

#TitleBarButtonClose:hover {
  background-color: rgba(232, 17, 35, 0.9);
}

[class^='MaskIcon'] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: currentColor;
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 16px;
  -webkit-mask-position: 50% 50%;
  pointer-events: none;
}

.MaskIconMinimize {
  -webkit-mask-image: url(/static/icons/chrome-minimize.svg);
}
.MaskIconToggleMaximize {
  -webkit-mask-image: url(/static/icons/chrome-maximize.svg);
}
.MaskIconClose {
  -webkit-mask-image: url(/static/icons/chrome-close.svg);
}
