.EditorHover {
  background: var(--CompletionListBackground, #282e2f);
  color: var(--CompletionListForeground, white);
  user-select: none;
  font-size: 15px;
  pointer-events: all;
  border: 1px solid;
  border-color: var(--CompletionListBorder, #95a29d);
  font-family: var(--EditorFontFamily);
  position: absolute;
  min-height: 200px;
  min-width: 300px;
  contain: strict;
  display: grid;
  place-items: center;
}

.HoverDisplayString {
  white-space: pre;
}
