#Dialog {
  pointer-events: all;
  user-select: text;
  padding: 0;
  width: 90%;
  height: 65%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

#Dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.DialogHeader {
  display: flex;
  background: #ecf0f1;
  color: #484b4c;
  padding: 1rem;
  align-items: center;
}

.DialogHeader .IconButton {
  color: black;
  --MaskIconSize: 25px;
}

#DialogTitle {
  margin: 0;
  flex-grow: 1;
}

#DialogBody {
  padding: 1rem;
  contain: strict;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#DialogBodyErrorMessage {
  margin: 0;
}

#DialogBodyErrorCodeFrame {
  white-space: pre;
}

#DialogBodyErrorStack {
  white-space: pre-wrap;
  max-width: 100%;
  overflow-x: auto;
}
