.SimpleBrowser {
  contain: strict;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.SimpleBrowserHeader {
  height: 30px;
  width: 100%;
  contain: strict;
  display: flex;
}

.SimpleBrowserHeader .InputBox {
  color: white;
  flex: 1;
}

.SimpleBrowserIframe {
  width: 100%;
  height: 100%;
  contain: strict;
}
