.Main {
  background: var(--MainBackground);
  position: absolute;
}

.DragOverlay {
  position: absolute;
  background: rgba(83, 89, 93, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 100ms;
  contain: strict;
}

/* TODO make all error viewlets position absolute? */
.Main .Error {
  position: absolute;
}

.editor-groups-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  contain: strict;
}

.EditorGroup {
  contain: strict;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}
