:root {
  --ErrorBackground: #5a1d1d;
  --ErrorForeground: rgb(156, 162, 160);
}

.Search {
  display: flex;
  flex-direction: column;
}

.SearchResults {
  overflow-y: auto;
  height: 100%;
}

.DropTarget {
  background: rgba(0, 0, 90, 0.5);
}

.TreeItem {
  --SearchRemoveDisplay: none;
  --SearchBadgeDisplay: flex;
}

.TreeItem:hover {
  --SearchRemoveDisplay: flex;
  --SearchBadgeDisplay: none;
}

.SearchRemove {
  width: 20px;
  height: 20px;
  contain: strict;
  display: var(--SearchRemoveDisplay);
  background: transparent;
  color: inherit;
  border: none;
}

.Badge {
  display: var(--SearchBadgeDisplay);
}

.SearchInputError {
  position: absolute;
  top: 35px;
  left: 20px;
  background: var(--ErrorBackground);
  color: var(--ErrorForeground);
  padding-inline: 10px;
  flex: 1;
  display: flex;
  contain: content;
}
