#Main {
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
  position: absolute;
}

.MainContent {
  contain: strict;
  flex: 1;
  display: flex;
  position: fixed;
}

.EditorText {
  color: white;
  white-space: pre;
}

.EditorImage {
  max-width: 100%;
}

.Clock {
  color: white;
}

.DragOverlay {
  position: absolute;
  background: rgba(83, 89, 93, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 100ms;
  contain: strict;
}
