.Search {
  display: flex;
  flex-direction: column;
}

.SearchHeader {
}

.SearchHeaderTop {
  display: flex;
  contain: content;
  /* height: 58px; */
}

.SearchHeaderTopRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  contain: content;
}

.SearchToggleButton {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  height: auto;
}

.SearchToggleButton:hover {
  background: lightgray;
}

.ViewletSearchMessage {
  color: rgba(156, 162, 160, 0.65);
  padding-bottom: 8px;
  padding-top: 5px;
  padding-left: 22px;
}

.SearchResults {
  overflow-y: auto;
  height: 100%;
}

.DropTarget {
  background: rgba(0, 0, 90, 0.5);
}

.SearchField {
  display: flex;
  border: 1px solid rgb(55, 65, 63);
  background: rgb(36, 41, 42);
  contain: content;
}

.SearchFieldReplace {
  margin-top: 6px;
}

/* .SearchField */

.SearchFieldInput {
  flex: 1;
  resize: none;
  color: var(--InputBoxForeground);
  border: none;
  font-size: 13px;
  height: 24px;
  contain: strict;
  line-height: 24px;
  width: 100%;
}

.SearchFieldInput {
  background: transparent;
}

.SearchFieldButton {
  position: relative;
  background: transparent;
  border: none;
  color: white;
  contain: strict;
  width: 20px;
  height: 20px;
}

.SearchFieldButton:hover {
  background: rgba(90, 93, 94, 0.31);
}

.SearchFieldButton[aria-checked='true'] {
  border: 1px solid #a03f9b;
}

.SearchButtonReplaceAll {
  position: relative;
}
