.IframeInspector {
  display: flex;
  z-index: 1;
  flex-direction: column;
  position: absolute;
}

.IframeInspectorHeader {
  display: flex;
  justify-content: space-around;
}

.IframeInspectorMessage {
  display: grid;
  contain: content;
  color: var(--WorkbenchForeground);
  grid-template-columns: 1fr 1fr;
  height: 24px;
  contain: strict;
}
