#TitleBarButtons {
  margin-left: auto;
  contain: content;
  app-region: no-drag;
}

.TitleBarButton {
  width: 46px;
  height: 100%;
  contain: strict;
  background: transparent;
  border: none;
  color: currentColor;
}

.TitleBarButton:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

#TitleBarButtonClose:hover {
  background-color: rgba(232, 17, 35, 0.9);
}

.MaskIcon.Minimize {
  -webkit-mask-image: url(/icons/chrome-minimize.svg);
}
.MaskIcon.ToggleMaximize {
  -webkit-mask-image: url(/icons/chrome-maximize.svg);
}
.MaskIcon.Close {
  -webkit-mask-image: url(/icons/chrome-close.svg);
}
