#Panel {
  display: grid;
  grid-template-rows: 35px 1fr;
  border-top: 1px solid rgba(128, 128, 128, 0.35);
}

.Panel {
  background: var(--PanelBackground);
}

#PanelHeader {
  contain: strict;
}

#PanelTabs {
  display: flex;
  gap: 1rem;
  height: 100%;
}

.PanelTab {
  cursor: pointer;
  font-size: 11px;
  font-family: system-ui, Ubuntu, Droid Sans, sans-serif;
  text-transform: uppercase;
  height: 85%;
  line-height: 35px;
  /* color: rgba(231, 231, 231, 0.6); */
  color: var(--PanelTabForeground);
}

.PanelTab[aria-selected] {
  /* color: rgb(231, 231, 231); */
  color: var(--PanelTabActiveForeground);
  border-bottom-color: rgb(231, 231, 231);
  border-bottom: 1px solid;
}

.PanelTab:hover {
  color: var(--PanelTabHoverForeground);
}

#PanelContent {
  contain: strict;
}
