.TitleBarButtons {
  margin-left: auto;
  app-region: drag;
  contain: strict;
  flex-grow: 2;
  display: flex;
}

.TitleBarButton {
  width: 46px;
  height: 100%;
  contain: strict;
  background: transparent;
  border: none;
  color: currentColor;
  app-region: no-drag;
}

.TitleBarButton:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.TitleBarButtonMinimize {
  margin-left: auto;
}

.TitleBarButtonClose:hover {
  background-color: var(--TitleBarButtonCloseHoverBackground, rgba(232, 17, 35, 0.9));
  color: var(--TitleBarButtonCloseHoverForeground, currentColor);
}
