.Main {
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
  flex: 1;
  contain: strict;
}

.DragOverlay {
  position: absolute;
  background: rgba(83, 89, 93, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 100ms;
  contain: strict;
}

.editor-groups-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  contain: strict;
}

.EditorGroupsVertical {
  flex-direction: row;
}

.EditorGroupsHorizontal {
  flex-direction: column;
}

.EditorGroup {
  contain: strict;
  /* flex: 1; */
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.editor-groups-container::-webkit-scrollbar {
  height: 14px;
}

.editor-groups-container::-webkit-scrollbar-track {
  background: transparent;
}

.editor-groups-container::-webkit-scrollbar-thumb {
  background: var(--EditorScrollBarBackground);
}

.editor-groups-container::-webkit-scrollbar-thumb:hover {
}

.EmptyGroupCloseButton {
  display: flex;
  background: transparent;
  border: none;
  color: white;
  align-self: end;
  width: 30px;
  height: 30px;
  contain: strict;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.TextEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.EditorContent {
  display: flex;
  width: 100%;
  height: 100%;
}

.EditorContentError,
.EditorContent--error {
  contain: strict;
  display: flex;
  flex-direction: column;
}

.EditorGroupHeader {
  display: flex;
  contain: strict;
  height: 35px;
  justify-content: space-between;
}

.SplitEditorGroupButton {
  background: transparent;
  color: white;
  border: none;
}

.WaterMarkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  contain: strict;
  flex: 1;
}

.WaterMark {
  height: 200px;
  background: var(--SideBarBackground);
  max-width: 200px;
  width: 100%;
  display: flex;
  mask-image: url(/icons/icon.svg);
  contain: strict;
  mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 200px;
  mask-position: 50% 50%;
  pointer-events: none;
  contain: strict;
  flex-shrink: 0;
}
