.SimpleBrowser {
  contain: strict;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ContentArea > .SimpleBrowser {
  flex: 0 0 var(--PreviewWidth);
}

.SimpleBrowserHeader {
  height: 30px;
  width: 100%;
  contain: strict;
  display: flex;
}

.SimpleBrowserHeader .InputBox {
  color: white;
  flex: 1;
}

.SimpleBrowserIframe {
  width: 100%;
  height: 100%;
  contain: strict;
}

.SimpleBrowserSnapshot {
  contain: strict;
  flex: 1;
  filter: brightness(0.8);
  min-height: 0;
  object-fit: fill;
  pointer-events: none;
  width: 100%;
}
