.Terminals {
  display: flex;
  flex: 1;
}

.TerminalCanvasText {
  width: 780px;
  height: 625px;
}

.TerminalCanvasCursor {
  width: 780px;
  height: 625px;
}

.XtermTerminal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.XtermTerminal .xterm {
  width: 100%;
  height: 100%;
}
