.Viewlet[data-viewlet-id='SourceControl']:focus {
  outline: 1px solid red;
  outline-offset: -1px;
}

.ViewSourceControlInput {
  /* margin: 20px; */
}

.ViewSourceControlInput[aria-busy] {
  background: lightblue;
}
