.SimpleBrowserHeader {
  height: 30px;
  width: 100%;
  contain: strict;
  display: flex;
}

.SimpleBrowserHeader .InputBox {
  color: white;
  flex: 1;
}

.SimpleBrowserIframe {
  width: 100%;
  height: 100%;
  contain: strict;
}

/* TODO duplicate code with find widget */
.FindWidgetButton {
  width: 25px;
  height: 25px;
  contain: strict;
  flex-shrink: 0;
}

.FindWidgetButton:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.FindWidgetButton:focus-visible {
  outline: 1px solid green;
  outline-offset: -1px;
}
