.List {
  position: relative;
  flex: 1;
}

.ListItems {
  flex: 1;
  contain: strict;
  position: relative;
  height: 100%;
  outline: none;
}

/* TODO have list contain strict if possible */
.ContainContent {
  contain: content;
}
