.TitleBarMenuBar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-app-region: no-drag;
  app-region: no-drag;
  contain: content;
  flex-grow: 0;
}

.TitleBarTopLevelEntry {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  contain: strict;
}

.TitleBarTopLevelEntryLabel {
  height: 22px;
  border-radius: 5px;
  background: var(--TitleBarTopLevelEntryLabel, inherit);
  pointer-events: none;
  padding: 0 8px;
  display: flex;
  align-items: center;
  contain: strict;
  width: 100%;
}

/* TODO use class name instead */
#TitleBarEntryActive {
  padding: 0;
  --TitleBarTopLevelEntryLabel: var(--TitleBarItemHoverForeground, rgba(90, 93, 94, 0.31));
}

/* TODO maybe have extra focus outline border */
/*
:focus {
  border: 2px solid green;
} */
