.ExtensionDetailHeader {
  height: 174px;
  width: 100%;
  contain: strict;
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  padding: 20px 20px;
  padding-bottom: 14px;
  max-width: var(--ExtensionDetailMaxWidth);
  margin: 0 auto;
}

.ExtensionDetailHeaderLarge {
  padding: 20px 40px 14px 40px;
}

.ExtensionDetailHeaderDetails {
  overflow: hidden;
  contain: strict;
  flex: 1;
}

.ExtensionDetailName {
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  gap: 10px;
}

.ExtensionDetailNameBadge {
  padding-left: 10px;
  font-size: 10px;
  font-style: italic;
  contain: content;
}

.ExtensionDetailDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.ExtensionDetailIcon {
  width: 140px;
  height: 140px;
  contain: strict;
  flex-shrink: 0;
}

.ExtensionDetailHeaderActions {
  display: flex;
  contain: content;
  gap: 10px;
  margin-top: 10px;
}
