#SideBar {
  color: var(--SideBarForeground, white);
  display: flex;
  flex-direction: column;
  position: absolute;
}

#SideBarContent {
  contain: strict;
  /* padding: 10px; */
  /* height: 100%; */
  flex: 1;
}
