.ExtensionDetail {
  color: white;
  user-select: text;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Large.ExtensionDetail {
  gap: 20px;
}

.ExtensionDetail::-webkit-scrollbar {
  width: 14px;
}

.ExtensionDetail::-webkit-scrollbar-track {
  background: transparent;
}

.ExtensionDetail::-webkit-scrollbar-thumb {
  background: var(--EditorScrollBarBackground);
}

.ExtensionDetail::-webkit-scrollbar-thumb:hover {
}

.ExtensionDetailHeader {
  height: 160px;
  width: 100%;
  contain: strict;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  flex-shrink: 0;
  padding: 20px 20px;
  padding-bottom: 0;
}

.Large .ExtensionDetailHeader {
  padding: 20px 40px 0 40px;
}

.ExtensionDetailHeaderDetails {
  overflow: hidden;
}

.ExtensionDetailName {
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.ExtensionDetailDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.ExtensionDetailIcon {
  width: 140px;
  height: 140px;
  contain: strict;
}

.Normal .ExtensionDetailIcon {
  /* width: 100px; */
  /* height: 100px; */
}

.ExtensionDetail .Markdown {
  padding: 0 20px;
}

.Large.ExtensionDetail .Markdown {
  padding: 0 40px;
}
