.DefineKeyBinding {
  position: absolute;
  inset: 0;
  place-items: center;
  display: grid;
}

.DefineKeyBindingHeading {
  contain: content;
}

.DefineKeyBindingContent {
  width: 400px;
  height: 110px;
  contain: strict;
  background: #282e2f;
  display: grid;
  place-items: center;
  padding: 10px;
}
