.Main {
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
  flex: 1;
  contain: strict;
}

.DragOverlay {
  position: absolute;
  background: rgba(83, 89, 93, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 100ms;
  contain: strict;
}

.TextEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.EditorContent {
  display: flex;
  width: 100%;
  height: 100%;
}

.EditorContentError,
.EditorContent--error {
  contain: strict;
  display: flex;
  flex-direction: column;
}

.WaterMarkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  contain: strict;
  flex: 1;
}

.WaterMark {
  height: 200px;
  background: var(--SideBarBackground);
  max-width: 200px;
  width: 100%;
  display: flex;
  mask-image: url(/icons/icon.svg);
  contain: strict;
  mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 200px;
  mask-position: 50% 50%;
  pointer-events: none;
  contain: strict;
  flex-shrink: 0;
}
