:root {
  --ExtensionDetailTabsBorder: rgba(128, 128, 128, 0.35);
  /* --ExtensionDetailTabSelectedBorder: white; */
  /* --ExtensionDetailTabSelectedForeground: white; */
  --ExtensionDetailTabForeground: var(--WorkbenchForeground);
  --ExtensionDetailTabHoverForeground: white;
}

/* TODO move into separate files */
.ExtensionDetailTabs {
  display: flex;
  gap: 10px;
  contain: content;
  border-bottom: 1px solid var(--ExtensionDetailTabsBorder);
  padding-left: 20px;
  contain: strict;
  height: 36px;
  max-width: var(--ExtensionDetailMaxWidth);
  margin: 0 auto;
  width: 100%;
}

.ExtensionDetailTab {
  padding: 3px;
  contain: content;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  background: transparent;
  border: none;
  color: var(--ExtensionDetailTabForeground);
}

.ExtensionDetailTab:where(:hover) {
  color: var(--ExtensionDetailTabHoverForeground);
}

.ExtensionDetailTabSelected {
  border-bottom: 1px solid var(--ExtensionDetailTabSelectedBorder, white);
  color: var(--ExtensionDetailTabSelectedForeground, white);
}
