.Workbench {
  width: 100%;
  height: 100%;
  contain: strict;
  font-size: 13px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.ActivityBar {
  background: var(--ActivityBarBackground);
  width: var(--ActivityBarWidth);
  height: var(--ActivityBarHeight);
}

.SideBar {
  background: var(--SideBarBackground, rgb(30, 35, 36));
  width: var(--SideBarWidth);
  height: var(--SideBarHeight);
}

.Main {
  background: var(--MainBackground);
  width: var(--MainWidth);
  height: var(--MainHeight);
}

.StatusBar {
  background: var(--StatusBarBackground);
  width: var(--StatusBarWidth);
  height: var(--StatusBarHeight);
}

.Content {
  width: var(--ContentWidth);
  height: var(--ContentHeight);
  background: var(--MainBackground);
  flex: 1;
}

.TitleBar {
  background: rgb(40, 46, 47);
  background: var(--TitleBarBackground);
  width: var(--TitleBarWidth);
  height: var(--TitleBarHeight);
}

.Panel {
  background: var(--PanelBackground);
  width: var(--PanelWidth);
  height: var(--PanelHeight);
}
