.Chat {
  contain: strict;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  min-height: 0;
  padding: 10px;
}

.ChatHeader {
  contain: strict;
  display: flex;
  gap: 8px;
  padding: 8px;
  height: 40px;
  justify-content: space-between;
}

.ChatActions {
  contain: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.ChatList {
  contain: strict;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ChatListItem {
  contain: strict;
  height: 40px;
  display: flex;
  background: transparent;
}

.ChatDetails {
  contain: strict;
  display: flex;
  min-height: 0;
  padding: 8px;
}

.ChatDetailsContent {
  contain: strict;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 0;
  gap: 10px;
}

.ChatWelcomeMessage {
  contain: content;
  padding: 8px;
}
