.EditorImage {
  cursor: grab;
  touch-action: none;
}

.ViewletImage {
  /* width: 100%; */
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.ImageWrapper {
  width: 100%;
  height: 100%;
  contain: strict;
  transform-origin: top left;
}

.Dragging {
  cursor: grabbing;
}
