:root {
}

.Settings {
  position: absolute;
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
}

.SettingsHeader {
  padding: 30px;
}

.SettingsMain {
  display: flex;
  contain: strict;
  flex: 1;
}

.SettingsSideBarHeading {
  margin: 0;
  margin-bottom: 5px;
}

.SettingsInputWrapper {
  display: flex;
  gap: 2px;
}

.SettingsContent {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: var(--EditorScrollBarBackground, rgba(57, 71, 71, 0.6)) transparent;
  scrollbar-width: thin;
}

.SettingsContentHeading {
  margin: 0;
}

.Select {
  background: var(--EditorBackground);
  color: currentColor;
  padding: 3px;
}

.SettingsItemCheckBox {
  display: flex;
  gap: 5px;
}
