.RunAndDebug {
  white-space: pre;
  color: var(--TitleBarForeground);
  overflow-y: auto;
}

.RunAndDebug::-webkit-scrollbar {
  height: 14px;
}

.RunAndDebug::-webkit-scrollbar-track {
  background: transparent;
}

.RunAndDebug::-webkit-scrollbar-thumb {
  background: var(--EditorScrollBarBackground);
}

.DebugSectionHeader {
  height: 22px;
  contain: strict;
  background: var(--DebugSectionHeaderBackground, rgb(30, 37, 35));
  border-top: 1px solid var(--SideBarBackground);
  border-bottom: 1px solid var(--SideBarBackground);
  padding-left: 3px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--DebugSectionHeaderForeground, #bcbebe);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}

.DebugMaskIcon {
  position: static !important;
  width: 12px;
  height: 12px;
  contain: strict;
  display: inline-block;
  flex-shrink: 0;
  --MaskIconSize: 12px;
}

.DebugMessage,
.DebugPausedMessage {
  font-style: italic;
  contain: strict;
  height: 20px;
  width: 100%;
}

.DebugRow {
  contain: strict;
  width: 100%;
  height: 22px;
  user-select: text;
  color: rgb(188, 190, 190);
  display: flex;
  align-items: center;
}

.DebugRowFocused {
}

.DebugRowCheckBox {
  padding-left: 22px;
  gap: 10px;
}

.DebugRowCallStack {
  padding-left: 32px;
}

.DebugValue {
  contain: content;
  white-space: nowrap;
}

.DebugValueScopeName {
  font-weight: 700;
  font-size: 11px;
}

.DebugPropertyChevron {
  margin-right: 4px;
}

.InputLabel {
  user-select: none;
}
