.Output {
  flex: 1;
}

.Output:focus {
  outline: 1px solid red;
  outline-offset: -1px;
}

.ViewletOutput {
  white-space: pre;
  overflow-y: scroll;
  color: white;
}

.OutputContent {
  white-space: pre;
  user-select: text;
  cursor: text;
  overflow-y: auto;
}
