.DebugConsole {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.DebugConsoleTop {
  flex: 1;
  contain: strict;
  white-space: pre;
}

.DebugConsoleBottom {
  height: 30px;
  contain: strict;
}
