.FindWidget {
  /* TODO create separate variable for this */
  background: var(--ActivityBarBackground);
  z-index: 1;
  color: wheat;
  display: flex;
  align-items: center;
  padding: 0 4px;
  position: absolute;
  --MaskIconSize: 16px;
}

.FindWidgetMatchCount {
  width: 70px;
  white-space: nowrap;
  flex-shrink: 0;
  contain: strict;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 3px;
}
