:root {
  --KeyBindingsEditorColor: #e1e2de;
}

.KeyBindings {
  color: var(--KeyBindingsEditorColor);
  position: absolute;
  background: var(--MainBackground);
  display: flex;
  flex-direction: column;
}

.KeyBinding {
  color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  line-height: 10px;
}

.Resizer {
  cursor: ew-resize;
  position: absolute;
  width: 5px;
  height: 100%;
  /* background: red; */
  top: 0;
}

/* TODO reuse same highlight css for completions and quickpick */
.SearchHighlight {
  color: var(--CompletionHighlightForeground, #e1b974);
  font-weight: 700;
  contain: content;
}

.TableColZero {
  width: var(--TableColumnZeroWidth);
}

.TableColOne {
  width: var(--TableColumnOneWidth);
}

.TableColTwo {
  width: var(--TableColumnTwoWidth);
}

.TableColThree {
  width: var(--TableColumnThreeWidth);
}

.ResizerOne {
  left: var(--ResizerOneLeft);
}

.ResizerTwo {
  left: var(--ResizerTwoLeft);
}

.KeyBindings .TableHead {
  height: 30px;
  contain: strict;
  border-bottom: 1px solid gray;
}
