.Sash {
  /* position: fixed; */
  /* contain: strict; */
  /* z-index: 1; */
}

.SashHorizontal {
  height: 4px;
  cursor: row-resize;
  width: 100%;
}

.SashVertical {
  width: 4px;
  cursor: col-resize;
  height: 100%;
}

.SashVisible {
  display: flex;
  justify-content: center;
}

.SashActive {
  background: var(--SashHoverBorder, #3d5252);
}

.SashResize {
  top: 0;
  right: 0;
  height: 100%;
}
