.Main {
  background: var(--MainBackground);
}

.MainContents {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 50%;
}

.ContentArea {
  display: flex;
  flex-direction: row !important;
}

.DragOverlay {
  position: absolute;
  background: rgba(83, 89, 93, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 100ms;
  contain: strict;
}

/* TODO make all error viewlets position absolute? */
.Main .Error {
  position: absolute;
}
