#TitleBar {
  /* TODO should not need z index */
  z-index: 1;
  display: flex;
  background: rgb(40, 46, 47);
  background: var(--TitleBarBackground);
  color: var(--TitleBarForeground, rgb(204, 204, 204));
  -webkit-app-region: drag;
  app-region: drag;
}
