.LanguageModels {
  display: flex;
  flex: 1;
  flex-direction: column;
  contain: strict;
}

.LanguageModels .TableWrapper {
  overflow-y: auto;
}

.LanguageModelsHeader {
  display: flex;
  contain: strict;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.TableRowDisabled {
  text-decoration: line-through;
}
