.RunAndDebug {
  white-space: pre;
  color: var(--TitleBarForeground);
  overflow-y: auto;
  outline: none;
  flex: 1;
}

.RunAndDebug::-webkit-scrollbar {
  height: 14px;
}

.RunAndDebug::-webkit-scrollbar-track {
  background: transparent;
}

.RunAndDebug::-webkit-scrollbar-thumb {
  background: var(--EditorScrollBarBackground);
}

.DebugSectionHeader {
  height: 22px;
  contain: strict;
  background: var(--DebugSectionHeaderBackground, rgb(30, 37, 35));
  border-top: 1px solid var(--SideBarBackground);
  border-bottom: 1px solid var(--SideBarBackground);
  padding-left: 3px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--DebugSectionHeaderForeground, #bcbebe);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}

.DebugMaskIcon {
  position: static !important;
  width: 12px;
  height: 12px;
  contain: strict;
  display: inline-block;
  flex-shrink: 0;
  --MaskIconSize: 12px;
}

.DebugMessage,
.DebugPausedMessage {
  font-style: italic;
  contain: strict;
  height: 20px;
  width: 100%;
}

.DebugRow {
  contain: strict;
  width: 100%;
  height: 22px;
  user-select: text;
  color: rgb(188, 190, 190);
  display: flex;
  align-items: center;
  position: relative;
}

.DebugRow {
  --WatchExpressionDeleteDisplay: none;
}

.DebugRow:where(:hover) {
  --WatchExpressionDeleteDisplay: flex;
  background: var(--ListHoverBackground);
}

.DebugRowSelected {
  color: var(--ListActiveSelectionForeground);
  background: var(--ListActiveSelectionBackground);
}

.DebugRowFocused {
}

.DebugRowCheckBox {
  padding-left: 22px;
  gap: 10px;
}

.DebugRowCallStack {
  padding-left: 32px;
}

.DebugValue {
  contain: content;
  white-space: nowrap;
}

.DebugValueScopeName {
  font-weight: 700;
  font-size: 11px;
  pointer-events: none; /* todo find a better way to ensure click is on whole element, maybe use x/y coordinates */
  user-select: none;
}

.Chevron,
.CallStackArrow,
.CallStackLabel,
.CallStackDescription {
  pointer-events: none;
}

.DebugPropertyChevron {
  margin-right: 4px;
}

.InputLabel {
  user-select: none;
}

.CallStackLabel {
  contain: content;
}

.CallStackDescription {
  font-size: 10px;
  margin-left: auto;
  padding-right: 5px;
  contain: content;
}

.DebugRowCallStack {
  cursor: default;
}

.CallStackArrow {
  contain: strict;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.DebugSectionActions {
  margin-left: auto;
}

.DebugSectionAction {
  background: transparent;
  border: 1px solid;
  color: gray;
  font-size: 14px;
}

.DeleteWatchExpression {
  position: absolute;
  right: 5px;
  contain: strict;
  width: 20px;
  height: 20px;
  display: var(--WatchExpressionDeleteDisplay);
  align-items: center;
  justify-content: center;
}

.WatchMessage {
  padding-left: 5px;
  padding-right: 5px;
}
