#ActivityBar {
  color: var(--ActivityBarForeground);
}

#ActivityBar {
  /* display: grid; */
  /* align-content: space-between; */
  display: flex;
  flex-direction: column;
}

.ActivityBarItem {
  position: relative;
  outline: none;
  width: 48px;
  height: 48px;
  contain: strict;
  flex-shrink: 0;
  --MaskIconSize: 24px;
}

.ActivityBarItem[title='Settings'] {
  margin-top: auto;
}

.ActivityBarItem:hover {
  /* background: #878f8c; */
}

.ActivityBarItem[aria-selected='true'],
.ActivityBarItem:hover {
  color: var(--ActivityBarActiveForeground);
}

.ActivityBarItem[aria-selected='true'] {
  background: var(--ActivityBarActiveBackground);
}

.ActivityBarItem:focus-visible {
  /* background: var(--ActivityBarActiveBackground); */
  color: var(--ActivityBarActiveForeground);
}

/* .ActivityBarItem:focus .ActivityBarItemIcon,
.ActivityBarItem:hover .ActivityBarItemIcon,
.ActivityBarItem[aria-selected] .ActivityBarItemIcon {
  filter: none;
} */

.ActivityBarItemBadge {
  background: var(--BadgeBackground);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: var(--BadgeForeground);
  font-size: 9px;
  font-weight: 600;
}
