.Output:focus {
  outline: 1px solid red;
  outline-offset: -1px;
}

.Output {
  white-space: pre;
  color: white;
  display: flex;
  flex-direction: column;
}

.OutputContent {
  flex: 1;
  user-select: text;
  overflow: hidden;
  contain: content;
}
