:root {
  --ColorPickerColor: black;
  --ColorPickerOffsetX: 0px;
}

.ColorPicker {
  contain: strict;
  display: flex;
  flex-direction: column;
  background: var(--MainBackground);
  padding: 0 0;
  pointer-events: all;
  position: absolute;
}

.ColorPickerRectangle {
  contain: strict;
  flex: 1;
}

.ColorPickerBackgroundColor,
.ColorPickerLight,
.ColorPickerDark {
  position: absolute;
  inset: 0;
  contain: strict;
}

.ColorPickerBackgroundColor {
  background: var(--ColorPickerColor);
}

.ColorPickerLight {
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.ColorPickerDark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.ColorPickerSlider {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
  border-radius: 5px;
  position: relative;
  contain: strict;
}

.ColorPickerBottom {
  height: 50px;
  contain: strict;
  position: relative;
  display: flex;
  align-items: center;
}

.ColorPickerSliderWrapper {
  height: 30px;
  contain: strict;
  width: 100%;
  display: flex;
  align-items: center;
}

.ColorPickerSliderThumb {
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  touch-action: none;
  background: var(--ColorPickerColor);
  contain: strict;
  translate: var(--ColorPickerOffsetX) 0;
  pointer-events: none;
}
