.LanguageModels {
  display: flex;
  flex: 1;
  flex-direction: column;
  contain: strict;
}

.LanguageModels .TableWrapper {
  overflow-y: auto;
}

.LanguageModelsHeader {
  display: flex;
  contain: content;
}
