.EditorHover {
  background: var(--CompletionListBackground, #282e2f);
  color: var(--CompletionListForeground, white);
  user-select: none;
  font-size: 15px;
  pointer-events: all;
  border: 1px solid;
  border-color: var(--CompletionListBorder, #95a29d);
  font-family: var(--EditorFontFamily);
  position: absolute;
  min-height: 20px;
  min-width: 400px;
  contain: content;
  display: grid;
  user-select: text;
  padding: 3px;
  font-family: var(--EditorFontFamily);
  font-size: var(--EditorFontSize);
  letter-spacing: var(--EditorLetterSpacing);
  font-feature-settings: var(--EditorFontFeatureSettings);
  tab-size: var(--EditorTabSize);
  font-display: block;
  cursor: text;
  font-weight: 400;
  position: absolute;
  bottom: 0;
}

.HoverDisplayString {
  white-space: pre;
  contain: content;
}
