.ExtensionDetailHeader {
  contain: strict;
  display: flex;
  flex-shrink: 0;
  flex: 1;
  gap: 1rem;
  height: 174px;
  padding-bottom: 14px;
  padding: 20px 20px;
  width: 100%;
}

.Large .ExtensionDetailHeader {
  padding: 20px 40px 14px 40px;
}

.ExtensionDetailHeaderDetails {
  overflow: hidden;
}

.ExtensionDetailName {
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.ExtensionDetailDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.ExtensionDetailIcon {
  width: 140px;
  height: 140px;
  contain: strict;
  flex-shrink: 0;
}
