.IframeInspector {
  display: flex;
  z-index: 1;
  flex-direction: column;
  position: absolute;
}

.IframeInspectorHeader {
  display: flex;
  justify-content: space-around;
  contain: content;
  height: 20px;
  contain: strict;
}

.IframeInspectorMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.IframeInspectorMessage {
  display: grid;
  color: var(--WorkbenchForeground);
  grid-template-columns: 1fr 1fr;
  height: 24px;
  contain: strict;
}

.IframeInspectorMessageSelected {
  color: var(--ListActiveSelectionForeground);
  background: var(--ListActiveSelectionBackground);
}

.InspectorMessageData {
  contain: strict;
  margin: 0;
  padding-right: 20px;
}

.InspectorMessageLength {
  text-align: right;
  padding-right: 10px;
}

.IframeInspectorSelectedContent {
  height: 220px;
  contain: strict;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}
