.LanguageModels {
  display: flex;
  flex: 1;
  flex-direction: column;
  contain: strict;
}

.LanguageModelsHeader {
  display: flex;
  contain: content;
}

.TableRowDisabled {
  text-decoration: line-through;
}
