.FindWidget {
  /* TODO create separate variable for this */
  background: var(--ActivityBarBackground);
  z-index: 1;
  display: flex;
  padding: 0 4px;
  position: absolute;
  --MaskIconSize: 16px;
}

.FindWidgetRight {
  display: flex;
  flex-direction: column;
  contain: strict;
  flex: 1;
}

.FindWidgetFind {
  display: flex;
  contain: strict;
  flex: 1;
  height: 100%;
  align-items: center;
}

.FindWidgetDetails {
  display: flex;
  contain: content;
  align-items: center;
  height: 100%;
}

.FindWidgetMatchCount {
  width: 70px;
  white-space: nowrap;
  flex-shrink: 0;
  contain: strict;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 3px;
}
