.WebView {
  contain: strict;
  position: absolute;
  display: flex;
  background: var(--MainBackground);
}

/* TODO this wrapper element might not be needed */
.WebViewWrapper {
  display: flex;
  flex: 1;
  contain: strict;
}

/* TODO make iframe background configurable through extensions.json
   For example, markdown preview might want a white background
*/
.WebViewIframe {
  flex: 1;
  contain: strict;
  border: none;
  background: var(--MainBackground);
}
