.WebView {
  contain: strict;
  position: absolute;
  display: flex;
  background: white;
}

/* TODO this wrapper element might not be needed */
.WebViewWrapper {
  display: flex;
  flex: 1;
  contain: strict;
}

.WebViewIframe {
  flex: 1;
  contain: strict;
  border: none;
  position: absolute;
  background: white;
  z-index: 1;
}
