.Welcome {
  contain: strict;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.WelcomeMessage {
  color: var(--WorkbenchForeground);
  margin: 0;
}
