.Widgets {
  contain: strict;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  backface-visibility: hidden;
}

/* TODO maybe hide widgets container if empty*/
.Widgets:empty {
  display: none;
}
