name: CI

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        versions:
          [
            { os: windows-2025, arch: x64 },
            { os: windows-2025, arch: arm64 },
            { os: macos-15, arch: arm64 },
            { os: ubuntu-24.04, arch: x64 },
            { os: ubuntu-24.04, arch: arm64 },
            { os: ubuntu-24.04, arch: armhf },
          ]
    runs-on: ${{ matrix.versions.os }}
    timeout-minutes: 80
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Setup Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Compute node modules cache key
        id: nodeModulesCacheKey
        run: echo "value=$(node packages/build/src/parts/ComputeNodeModulesCacheKey/ComputeNodeModulesCacheKey.js)" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-cacheNodeModules-${{ steps.nodeModulesCacheKey.outputs.value }}
      - uses: actions/cache@v4
        id: electron-rebuild-cache
        with:
          path: '~/.electron-gyp'
          key: ${{ runner.os }}-cacheElectronRebuild-${{ steps.nodeModulesCacheKey.outputs.value }}
      - uses: actions/cache@v4
        id: electron-builder-cache
        with:
          path: '~/.cache/electron-builder'
          key: ${{ runner.os }}-cacheElectronBuilder-${{ steps.nodeModulesCacheKey.outputs.value }}
      - uses: actions/cache@v4
        id: build-cache
        with:
          path: 'packages/build/.tmp/cachedDependencies'
          key: ${{ runner.os }}-build-cache-${{ steps.nodeModulesCacheKey.outputs.value }}
      - name: npm ci
        run: npm ci --ignore-scripts && npm run postinstall
        if: steps.npm-cache.outputs.cache-hit != 'true'
        env:
          DOWNLOAD_BUILTIN_EXTENSIONS: 0
      - name: Compute builtin extensions cache key
        id: builtinExtensionsCacheKey
        run: echo "value=$(node packages/build/src/parts/ComputeBuiltinExtensionsCacheKey/ComputeBuiltinExtensionsCacheKey.js)" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/cache@v4
        id: builtin-extensions-cache
        with:
          path: extensions
          key: builtinExtensions-${{ steps.builtinExtensionsCacheKey.outputs.value }}
      - name: Download Builtin Extensions
        run: node packages/build/src/parts/DownloadBuiltinExtensions/DownloadBuiltinExtensions.js
        if: steps.builtin-extensions-cache.outputs.cache-hit != 'true'
      - run: npm run type-check
      - run: npm test
      - name: install playwright dependencies (extension host worker tests)
        working-directory: ./packages/extension-host-worker-tests
        run: npx playwright install chromium
        if: steps.npm-cache.outputs.cache-hit != 'true'
        env:
          PLAYWRIGHT_BROWSERS_PATH: 0
      - name: Build server
        run: node packages/build/bin/build.js --target=server
      - name: Test Static Export
        run: node packages/build/src/parts/TestStaticExport/TestStaticExport.js
      - name: Run extension host worker tests
        working-directory: ./packages/extension-host-worker-tests
        run: npm run e2e:headless:ci
        env:
          PLAYWRIGHT_BROWSERS_PATH: 0
      - name: Build Electron App (deb, x64)
        if: matrix.versions.os == 'ubuntu-24.04' && matrix.versions.arch == 'x64'
        run: node packages/build/bin/build.js --target=electron-deb
      - name: Build Electron App (deb, arm64)
        if: matrix.versions.os == 'ubuntu-24.04' && matrix.versions.arch == 'arm64'
        run: node packages/build/bin/build.js --target=electron-deb --arch=arm64
      - name: Build Electron App (deb, armhf)
        if: matrix.versions.os == 'ubuntu-24.04' && matrix.versions.arch == 'armhf'
        run: node packages/build/bin/build.js --target=electron-deb --arch=armhf
      - name: Build Electron App (Macos dmg, arm64)
        if: matrix.versions.os == 'macos-15' && matrix.versions.arch == 'arm64'
        run: node packages/build/bin/build.js --target=electron-builder-mac --arch=arm64
      - name: Cache Electron Builder Dependencies (Windows)
        uses: actions/cache@v4
        id: electron-builder-cache-windows
        if: matrix.versions.os == 'windows-2025'
        with:
          path: '~\AppData\Local\electron-builder'
          key: ${{ runner.os }}-electron-builder-${{ hashFiles('packages/build/package-lock.json') }}
      - name: Build Electron App (exe, x64)
        if: matrix.versions.os == 'windows-2025' && matrix.versions.arch == 'x64'
        run: node packages/build/bin/build.js --target=electron-builder-windows-exe --arch=x64
      - name: Build Electron App (exe, arm64)
        if: matrix.versions.os == 'windows-2025' && matrix.versions.arch == 'arm64'
        run: node packages/build/bin/build.js --target=electron-builder-windows-exe --arch=arm64
      - name: Build Electron App (AppImage)
        if: matrix.versions.os == 'ubuntu-24.04' && matrix.versions.arch == 'x64'
        run: node packages/build/bin/build.js --target=electron-builder-app-image
      - name: Build static site
        if: matrix.versions.os == 'ubuntu-24.04' && matrix.versions.arch == 'x64'
        run: node packages/build/bin/build.js --target=static
        env:
          PATH_PREFIX: /lvce-editor
      - name: Upload artifact
        if: matrix.versions.os == 'ubuntu-24.04' && matrix.versions.arch == 'x64'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./packages/build/.tmp/dist
      - name: Clean up
        run: rm -rf packages/build/.tmp
        shell: bash

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: ci
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
