# Based on https://github.com/BurntSushi/ripgrep/blob/master/.github/workflows/release.yml by BurntSushi (License MIT)

name: release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  create-release:
    name: create-release
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    outputs:
      upload_url: ${{ steps.release.outputs.upload_url }}
      rg_version: ${{ env.RG_VERSION }}
    steps:
      - name: Get the release version from the tag
        shell: bash
        if: env.RG_VERSION == ''
        run: |
          echo "RG_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "version is: ${{ env.RG_VERSION }}"
      - name: Create GitHub release
        id: release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.RG_VERSION }}
          release_name: ${{ env.RG_VERSION }}

  build-release:
    name: build-release
    needs: ['create-release']
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-12, windows-2022]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
      - name: Compute node modules cache key
        id: nodeModulesCacheKey
        run: echo "value=$(node build/src/parts/ComputeNodeModulesCacheKey/ComputeNodeModulesCacheKey.js)" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/cache@v3
        id: npm-cache
        env:
          PLAYWRIGHT_BROWSERS_PATH: 0
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-cacheNodeModules-${{ steps.nodeModulesCacheKey.outputs.value }}
          restore-keys: ${{ runner.os }}-cacheNodeModules-
      - uses: actions/cache@v3
        id: build-cache
        with:
          path: 'build/.tmp/cachedDependencies'
          key: ${{ runner.os }}-build-cache-${{ steps.nodeModulesCacheKey.outputs.value }}
      - name: npm ci
        run: npm ci
        if: steps.npm-cache.outputs.cache-hit != 'true'
        env:
          DOWNLOAD_BUILTIN_EXTENSIONS: 0
      - name: Compute builtin extensions cache key
        id: builtinExtensionsCacheKey
        run: echo "value=$(node build/src/parts/ComputeBuiltinExtensionsCacheKey/ComputeBuiltinExtensionsCacheKey.js)" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/cache@v3
        id: builtin-extensions-cache
        with:
          path: extensions
          key: builtinExtensions-${{ steps.builtinExtensionsCacheKey.outputs.value }}
      - name: Download Builtin Extensions
        run: node build/src/parts/DownloadBuiltinExtensions/DownloadBuiltinExtensions.js
        if: steps.builtin-extensions-cache.outputs.cache-hit != 'true'
      - run: npm test
      - run: node build/bin/build.js --target=server
      - name: Cache Electron Builder Dependencies (Windows)
        uses: actions/cache@v3
        id: electron-builder-cache-windows
        if: matrix.os == 'windows-2022'
        with:
          path: '~\AppData\Local\electron-builder'
          key: ${{ runner.os }}-electron-builder-${{ hashFiles('build/package-lock.json') }}
      - name: Build Electron App (deb, x64)
        if: matrix.os == 'ubuntu-22.04'
        run: node build/bin/build.js --product=lvce --target=electron-deb
      - name: Rename Electron App (deb, x64)
        if: matrix.os == 'ubuntu-22.04'
        shell: bash
        run: |
          staging="lvce-${{ needs.create-release.outputs.rg_version }}_amd64.deb"
          mv "build/.tmp/releases/lvce-amd64.deb" "$staging"
          echo "ASSET_Deb_X64=$staging" >> $GITHUB_ENV
      - name: Release Electron App (deb, x64)
        uses: actions/upload-release-asset@v1.0.1
        if: matrix.os == 'ubuntu-22.04'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ${{ env.ASSET_DMG_X64 }}
          asset_name: ${{ env.ASSET_DMG_X64 }}
          asset_content_type: application/octet-stream
      - name: Build Electron App (Macos dmg, x64)
        if: matrix.os == 'macos-12'
        run: node build/bin/build.js --product=lvce --target=electron-builder-mac
      - name: Rename Electron App (Macos dmg, x64)
        if: matrix.os == 'macos-12'
        shell: bash
        run: |
          staging="lvce-${{ needs.create-release.outputs.rg_version }}_amd64.dmg"
          mv "build/.tmp/releases/lvce-amd64.dmg" "$staging"
          echo "ASSET_DMG_X64=$staging" >> $GITHUB_ENV
      - name: Release Electron App (Macos dmg, x64)
        uses: actions/upload-release-asset@v1.0.1
        if: matrix.os == 'macos-12'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ${{ env.ASSET_DMG_X64 }}
          asset_name: ${{ env.ASSET_DMG_X64 }}
          asset_content_type: application/octet-stream
      - name: Build Electron App (exe)
        if: matrix.os == 'windows-2022'
        run: node build/bin/build.js --product=lvce --target=electron-builder-windows-exe
      - name: Rename Electron App (exe)
        if: matrix.os == 'windows-2022'
        shell: bash
        run: |
          staging="Lvce-Setup-${{ needs.create-release.outputs.rg_version }}.exe"
          mv "build/.tmp/releases/lvce.exe" "$staging"
          echo "ASSET_WINDOWS_EXE_X64=$staging" >> $GITHUB_ENV
      - name: Release Electron App (exe)
        uses: actions/upload-release-asset@v1.0.1
        if: matrix.os == 'windows-2022'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ${{ env.ASSET_WINDOWS_EXE_X64 }}
          asset_name: ${{ env.ASSET_WINDOWS_EXE_X64 }}
          asset_content_type: application/octet-stream
      - name: Build Electron App (AppImage)
        if: matrix.os == 'ubuntu-22.04'
        run: node build/bin/build.js --product=lvce --target=electron-builder-app-image
      - name: Rename Electron App (AppImage)
        if: matrix.os == 'ubuntu-22.04'
        shell: bash
        run: |
          staging="Lvce-${{ needs.create-release.outputs.rg_version }}.AppImage"
          mv "build/.tmp/releases/lvce.AppImage" "$staging"
          echo "ASSET_APP_IMAGE_X64=$staging" >> $GITHUB_ENV
      - name: Release Electron App (AppImage)
        uses: actions/upload-release-asset@v1.0.1
        if: matrix.os == 'ubuntu-22.04'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ${{ env.ASSET_APP_IMAGE_X64 }}
          asset_name: ${{ env.ASSET_APP_IMAGE_X64 }}
          asset_content_type: application/octet-stream
      - run: npm publish --access public
        if: matrix.os == 'ubuntu-22.04'
        working-directory: ./build/.tmp/server/extension-host
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish --access public
        if: matrix.os == 'ubuntu-22.04'
        working-directory: ./build/.tmp/server/extension-host-helper-process
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish --access public
        if: matrix.os == 'ubuntu-22.04'
        working-directory: ./build/.tmp/server/jest-environment
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish --access public
        if: matrix.os == 'ubuntu-22.04'
        working-directory: ./build/.tmp/server/pty-host
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish --access public
        if: matrix.os == 'ubuntu-22.04'
        working-directory: ./build/.tmp/server/server
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish --access public
        if: matrix.os == 'ubuntu-22.04'
        working-directory: ./build/.tmp/server/shared-process
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      # - name: Build archive
      #   shell: bash
      #   run: |
      #     staging="language-features-typescript-${{ needs.create-release.outputs.rg_version }}"
      #     mv "extension.tar.br" "$staging.tar.br"
      #     echo "ASSET=$staging.tar.br" >> $GITHUB_ENV

      # - name: Upload release archive
      #   uses: actions/upload-release-asset@v1.0.1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ needs.create-release.outputs.upload_url }}
      #     asset_path: ${{ env.ASSET }}
      #     asset_name: ${{ env.ASSET }}
      #     asset_content_type: application/octet-stream
